Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2020-12, with the labels that each got.

#1851 test(spanner): fix leaderboard test
  spanner/spanner_leaderboard/leaderboard_test.go
Labels: api: spanner, cla: yes, samples

#1855 test(getting-started): update test translation terms
  getting-started/background/translate_test.go
Labels: cla: yes, samples

#1854 chore(.github): disable x/tools updates
  .github/renovate.json
Labels: automerge, cla: yes, samples

#1850 feat(dataproc): new sample for job_submit + updating quickstart / create_cluster
  dataproc/create_cluster.go
  dataproc/dataproc_test.go
  dataproc/quickstart/quickstart.go
  dataproc/quickstart/quickstart_test.go
  dataproc/submit_job.go
Labels: api: dataproc, automerge, cla: yes, samples

#1741 testing(run): add retry behavior to cloudrunci gcloud commands
  internal/cloudrunci/cloudrunci.go
  internal/cloudrunci/gcloud.go
  internal/cloudrunci/gcloud_test.go
  internal/testutil/retry.go
  internal/testutil/retry_test.go
Labels: api: run, automerge, cla: yes, samples

#1862 feat(bigquery): add hive partitioning table sample
  bigquery/snippets/table/bigquery_create_table_external_hivepartitioned.go
  bigquery/snippets/table/integration_test.go
  eventarc/testing/go.sum
  go.mod
  go.sum
  run/testing/go.sum
Labels: api: bigquery, cla: yes, samples

#1869 chore(bigquery): add verbose logging to flaky test
  bigquery/bigquery_storage_quickstart/main_test.go
Labels: api: bigquery, cla: yes, samples

#1860 chore: added retry for flaky ttranslate test
  translate/v3/batch_translate_text_test.go
Labels: automerge, cla: yes, samples

#1871 test(storage): unflake TestRequesterPays
  storage/buckets/buckets_test.go
Labels: api: storage, automerge, cla: yes, samples

#1867 docs(securitycenter): wrap samples with future prefix
  securitycenter/assets/add_delete_security_marks.go
  securitycenter/assets/add_security_marks.go
  securitycenter/assets/delete_security_marks.go
  securitycenter/assets/list_all_assets.go
  securitycenter/assets/list_all_project_assets.go
  securitycenter/assets/list_assets_with_security_marks.go
  securitycenter/assets/list_project_assets_and_state_changes.go
  securitycenter/assets/list_project_assets_at_time.go
  securitycenter/findings/add_security_marks.go
  securitycenter/findings/create_finding.go
  securitycenter/findings/create_finding_with_source_properties.go
  securitycenter/findings/create_source.go
  securitycenter/findings/get_source.go
  securitycenter/findings/get_source_iam.go
  securitycenter/findings/list_all_findings.go
  securitycenter/findings/list_filtered_findings.go
  securitycenter/findings/list_findings_at_time.go
  securitycenter/findings/list_findings_with_security_mark.go
  securitycenter/findings/list_sources.go
  securitycenter/findings/set_finding_state.go
  securitycenter/findings/set_source_iam.go
  securitycenter/findings/test_iam.go
  securitycenter/findings/update_finding_source_properties.go
  securitycenter/findings/update_source.go
  securitycenter/notifications/create_notification_config.go
  securitycenter/notifications/delete_notification_config.go
  securitycenter/notifications/get_notification_config.go
  securitycenter/notifications/list_notification_configs.go
  securitycenter/notifications/receive_notifications.go
  securitycenter/notifications/update_notification_config.go
  securitycenter/settings/enable_asset_discovery.go
  securitycenter/settings/get_org_settings.go
Labels: automerge, cla: yes, samples

#1873 chore(bigquery): make flaky sample more verbose in implicating read session
  bigquery/bigquery_storage_quickstart/main.go
Labels: api: bigquery, cla: yes, samples
