Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2020-11, with the labels that each got.

#1819 docs: update Cloud Run region tags
  run/authentication/auth.go
  run/grpc-ping/Dockerfile
  run/grpc-ping/api/v1/message.proto
  run/grpc-ping/connection.go
  run/grpc-ping/main.go
  run/grpc-ping/request.go
  run/grpc-ping/request_auth.go
  run/grpc-server-streaming/Dockerfile
  run/hello-broken/Dockerfile
  run/hello-broken/main.go
  run/helloworld/Dockerfile
  run/helloworld/main.go
  run/image-processing/Dockerfile
  run/image-processing/imagemagick/imagemagick.go
  run/image-processing/main.go
  run/logging-manual/main.go
  run/markdown-preview/editor/render.go
  run/markdown-preview/editor/templates/index.html
  run/pubsub/Dockerfile
  run/pubsub/main.go
  run/system_package/Dockerfile
  run/system_package/graphviz.go
Labels: automerge, cla: yes

#1823 fix(spanner): clients are not properly closed
  spanner/spanner_snippets/snippet.go
Labels: api: spanner, cla: yes

#1814 fix(appengine): Improve tasks/create_task test reliability
  appengine/go11x/tasks/create_task/create_task_test.go
Labels: api: appengine, automerge, cla: yes

#1824 docs: update missed region tags
  functions/security/idtoken.go
  functions/tips/lazy.go
  functions/tips/scope.go
Labels: automerge, cla: yes

#1818 test(pubsub): wrap dead letter sample test in retry
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, cla: yes

#1825 fix(pubsub): remove channel usage in concurrency sample
  pubsub/subscriptions/pull_concurrency.go
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, automerge, cla: yes

#1821 chore(opentelemetry): update trace example to latest released APIs
  opentelemetry/go.mod
  opentelemetry/go.sum
  opentelemetry/trace/main.go
Labels: automerge, cla: yes

#1810 fix(firestore): use update instead of set
  firestore/firestore_snippets/save.go
Labels: api: firestore, automerge, cla: yes

#1827 test(storage): unflake TestKMS
  storage/buckets/buckets_test.go
Labels: api: storage, cla: yes

#1828 fix(firestore): create doc before updating
  firestore/firestore_snippets/save.go
Labels: api: firestore, cla: yes

#1834 chore(.github): use setup-go@v2
  .github/workflows/go.yaml
Labels: automerge, cla: yes

#1836 chore: activate snippet-bot
  .github/snippet-bot.yml
  badfiles_test.go
Labels: automerge, cla: yes, samples

#1838 test(spanner): unskip list backup operations
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#1816 docs(firestore): normalize region tags
  firestore/firestore_quickstart/main.go
  firestore/firestore_snippets/collection_group_query.go
  firestore/firestore_snippets/collection_group_setup.go
  firestore/firestore_snippets/increment.go
  firestore/firestore_snippets/listen_changes.go
  firestore/firestore_snippets/listen_document.go
  firestore/firestore_snippets/listen_errors.go
  firestore/firestore_snippets/listen_multiple.go
  firestore/firestore_snippets/main.go
  firestore/firestore_snippets/query.go
  firestore/firestore_snippets/retrieve.go
  firestore/firestore_snippets/save.go
  firestore/firestore_snippets/solution_counters.go
Labels: api: firestore, cla: yes, samples

#1839 test(asset): add list-assets retries
  asset/quickstart/list-assets/main_test.go
Labels: api: cloudasset, automerge, cla: yes, samples

#1843 fix(securitycenter): typo in doc comment for addSecurityMarks
  securitycenter/assets/add_security_marks.go
Labels: api: securitycenter, automerge, cla: yes, samples

#1787 feat(container_registry): update sample to illustrate AR style urls
  container_registry/container_analysis/create_occurrence.go
  container_registry/container_analysis/filter_vulnerability_occurrences.go
  container_registry/container_analysis/get_discovery_info.go
  container_registry/container_analysis/occurrences_for_image.go
  container_registry/container_analysis/poll_discovery_finished.go
  container_registry/container_analysis/vulnerability_occurrences_for_image.go
Labels: api: container, automerge, cla: yes, samples

#1840 feat(asset): add samples for AnalyzeIamPolicy and AnalyzeIamPolicyLongrunning
  asset/quickstart/analyze-iam-policy-longrunning-bigquery/main.go
  asset/quickstart/analyze-iam-policy-longrunning-bigquery/main_test.go
  asset/quickstart/analyze-iam-policy-longrunning-gcs/main.go
  asset/quickstart/analyze-iam-policy-longrunning-gcs/main_test.go
  asset/quickstart/analyze-iam-policy/main.go
  asset/quickstart/analyze-iam-policy/main_test.go
Labels: api: cloudasset, automerge, cla: yes, samples

#1845 test: switch dataproc test to E2E, improve dlp/storage error handling
  dataproc/instantiate_inline_workflow_template_test.go
  dlp/snippets/trigger/trigger_test.go
  storage/objects/objects_test.go
Labels: automerge, cla: yes, samples

#1844 docs: add more contributing guidance
  CONTRIBUTING.md
Labels: automerge, cla: yes, samples

#1830 feat(kms): add integrity verification to cryptographic operations
  kms/decrypt_asymmetric.go
  kms/decrypt_symmetric.go
  kms/encrypt_symmetric.go
  kms/get_public_key.go
  kms/sign_asymmetric.go
Labels: api: cloudkms, cla: yes, samples

#1784 feat(storage): add last samples part
  storage/objects/change_file_storage_class.go
  storage/objects/change_object_csek_to_cmek.go
  storage/objects/compose_object.go
  storage/objects/download_public_file.go
  storage/objects/objects_test.go
Labels: api: storage, cla: yes, samples
