Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-03, with the labels that each got.

#1971 chore(.github): upgrade to Go 1.16, improve go mod tidy instructions
  .github/workflows/go.yaml
  cloudsql/postgres/database-sql/go.sum
  cloudsql/sqlserver/database-sql/go.sum
Labels: cla: yes, samples

#1974 chore(.github): reassign DB issues
  .github/blunderbuss.yml
Labels: automerge, cla: yes, samples

#1972 docs(securitycenter): remove unused region tags
  securitycenter/assets/add_delete_security_marks.go
  securitycenter/assets/add_security_marks.go
  securitycenter/assets/delete_security_marks.go
  securitycenter/assets/list_all_assets.go
  securitycenter/assets/list_all_project_assets.go
  securitycenter/assets/list_assets_with_security_marks.go
  securitycenter/assets/list_project_assets_and_state_changes.go
  securitycenter/assets/list_project_assets_at_time.go
  securitycenter/findings/add_security_marks.go
  securitycenter/findings/create_finding.go
  securitycenter/findings/create_finding_with_source_properties.go
  securitycenter/findings/create_source.go
  securitycenter/findings/get_source.go
  securitycenter/findings/get_source_iam.go
  securitycenter/findings/list_all_findings.go
  securitycenter/findings/list_filtered_findings.go
  securitycenter/findings/list_findings_at_time.go
  securitycenter/findings/list_findings_with_security_mark.go
  securitycenter/findings/list_sources.go
  securitycenter/findings/set_finding_state.go
  securitycenter/findings/set_source_iam.go
  securitycenter/findings/test_iam.go
  securitycenter/findings/update_finding_source_properties.go
  securitycenter/findings/update_source.go
  securitycenter/notifications/create_notification_config.go
  securitycenter/notifications/delete_notification_config.go
  securitycenter/notifications/get_notification_config.go
  securitycenter/notifications/list_notification_configs.go
  securitycenter/notifications/receive_notifications.go
  securitycenter/notifications/update_notification_config.go
  securitycenter/settings/enable_asset_discovery.go
  securitycenter/settings/get_org_settings.go
Labels: api: securitycenter, cla: yes, samples

#1968 chore(pubsub): link to PubsubMessage docs
  eventarc/pubsub/main.go
  functions/console_snippets/pubsub/pubsub.go
  functions/helloworld/hello_pubsub.go
  functions/log/process_log_entry.go
  functions/ocr/app/setup.go
  functions/tips/infinite_retries/infinite_retries.go
  functions/tips/retry.go
  run/image-processing/main.go
  run/pubsub/main.go
Labels: api: pubsub, automerge, cla: yes, samples

#1976 feat(bigquery): add template table creation sample
  bigquery/snippets/table/bigquery_create_table_from_template.go
  bigquery/snippets/table/integration_test.go
Labels: api: bigquery, automerge, cla: yes, samples

#1970 samples(spanner): PITR samples backup fix
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_create_backup.go
Labels: api: spanner, automerge, cla: yes, samples

#1979 feat(datacatalog): add a quickstart for datacatalog
  datacatalog/datacatalog_quickstart/main.go
  datacatalog/datacatalog_quickstart/main_test.go
Labels: api: datacatalog, cla: yes, samples

#1980 feat(pubsublite): publish and subscribe samples for Pub/Sub Lite
  eventarc/testing/go.sum
  go.mod
  go.sum
  pubsublite/internal/psltest/util.go
  pubsublite/publish/publish_batch.go
  pubsublite/publish/publish_custom_attributes.go
  pubsublite/publish/publish_ordering_key.go
  pubsublite/publish/publish_test.go
  pubsublite/quickstart_publisher/main.go
  pubsublite/quickstart_publisher/main_test.go
  pubsublite/quickstart_subscriber/main.go
  pubsublite/quickstart_subscriber/main_test.go
  run/testing/go.sum
Labels: api: pubsublite, automerge, cla: yes, samples

#1991 chore: update blunderbuss
  .github/blunderbuss.yml
Labels: cla: yes, samples

#1992 test(firestore): add retry to flaky listen test
  firestore/firestore_snippets/listen_test.go
Labels: api: firestore, cla: yes, samples

#1993 chore: update codeowners for cndb subareas
  .github/CODEOWNERS
Labels: automerge, cla: yes, samples

#1996 test(dlp): add retries
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, automerge, cla: yes, samples

#1997 docs: add line length note to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: cla: yes, samples

#1999 fix(functions): use correct project ID env var
  functions/ocr/app/setup.go
Labels: automerge: exact, cla: yes, samples

#2000 docs(translate): fix model name
  translate/model.go
Labels: automerge: exact, cla: yes, samples

#1995 chore: correct error message in test
  datacatalog/snippets/policytagmanager/integration_test.go
Labels: cla: yes, samples

#1859 testing(functions): pattern for complete system tests
  functions/helloworld/hello_http_system_test.go
  functions/security/go.mod
  functions/security/go.sum
  functions/security/idtoken_cloudfunction.go
  functions/security/security_system_test.go
Labels: api: cloudfunctions, cla: yes, samples

#2007 fix(dataproc): fixing GCE bug associated with new default dataproc image
  dataproc/create_cluster.go
  dataproc/quickstart/quickstart.go
Labels: api: dataproc, automerge, cla: yes, samples

#2005 feat(Kokoro): run E2E tests for Cloud Run presubmits
  testing/kokoro/configure_gcloud.bash
  testing/kokoro/system_tests.sh
Labels: automerge, cla: yes, samples

#2010 test(dialogflow): add retries
  dialogflow/detect_intent/detect_intent_test.go
Labels: api: dialogflow, automerge, cla: yes, samples

#2019 chore: update dockerfile regions
  eventarc/audit_storage/Dockerfile
  eventarc/audit_storage/main.go
Labels: automerge, cla: yes, samples

#2011 test(pubsublite): clean up resources with prefix
  pubsublite/admin/pubsublite_admin_test.go
  pubsublite/internal/psltest/util.go
  pubsublite/publish/publish_test.go
  pubsublite/quickstart_publisher/main_test.go
  pubsublite/quickstart_subscriber/main_test.go
Labels: api: pubsublite, automerge, cla: yes, samples

#1998 feat(media): add spritesheet samples and tests
  media/transcoder/create_job_with_periodic_images_spritesheet.go
  media/transcoder/create_job_with_set_number_images_spritesheet.go
  media/transcoder/transcoder_test.go
Labels: api: mediatranslation, automerge, cla: yes, samples

#2023 chore(opentelemetry): update to otel 0.19.0
  opentelemetry/go.mod
  opentelemetry/go.sum
  opentelemetry/trace/main.go
Labels: cla: yes, samples

#2008 fix(pubsublite): improved publish error handling
  go.mod
  pubsublite/publish/publish_batch.go
  pubsublite/publish/publish_custom_attributes.go
  pubsublite/publish/publish_ordering_key.go
  pubsublite/quickstart_publisher/main.go
Labels: api: pubsublite, cla: yes, samples

#2001 feat: add samples for CMEK with Spanner
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_create_backup_with_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_create_database_with_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_restore_backup_with_encryption_key.go
Labels: api: spanner, cla: yes, samples

#1920 samples(bigtable): connection pool configuration
  bigtable/connectionpool/configure_connection_pool.go
  bigtable/connectionpool/configure_connection_pool_test.go
Labels: api: bigtable, cla: yes, samples

#2028 chore: add IoT entry to CODEOWNERS
  .github/CODEOWNERS
Labels: api: cloudiot, cla: yes, samples
