Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-02, with the labels that each got.

#1929 test(monitoring): add retries
  monitoring/snippets/channel_delete_test.go
Labels: api: monitoring, cla: yes, samples

#1935 chore(opentelemetry): update OTel to v0.16.0
  opentelemetry/go.mod
  opentelemetry/go.sum
Labels: cla: yes, samples

#1911 test(run): increase gcloud retry attempts from 3 to 5
  internal/cloudrunci/gcloud.go
  internal/cloudrunci/gcloud_test.go
Labels: api: run, cla: yes, samples

#1932 test(spanner): unflake backup sample tests
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, automerge, cla: yes, samples

#1937 test(media): even more retries
  media/transcoder/transcoder_test.go
Labels: api: mediatranslation, automerge, cla: yes, samples

#1936 docs(logging): feature the correct write structured log sample
  logging/simplelog/simplelog.go
Labels: api: logging, automerge, cla: yes, samples

#1858 feat(storage): add set_metadata sample
  storage/objects/objects_test.go
  storage/objects/set_metadata.go
Labels: api: storage, cla: yes, samples

#1791 feat(storage): add change default storage class sample
  appengine/go11x/warmup/go.sum
  cloudsql/postgres/database-sql/go.sum
  eventarc/testing/go.sum
  functions/bigtable/go.sum
  functions/console_snippets/firebase_auth/go.sum
  functions/console_snippets/firebase_rtdb/go.sum
  functions/console_snippets/firestore/go.sum
  functions/console_snippets/google_analytics/go.sum
  functions/firebase/hello/go.sum
  functions/firebase/upper/go.sum
  functions/helloworld/go.sum
  functions/imagemagick/go.sum
  functions/ocr/app/go.sum
  functions/slack/go.sum
  functions/spanner/go.sum
  functions/tips/contexttip/go.sum
  functions/tips/go.sum
  functions/tips/infinite_retries/go.sum
  getting-started/authenticating-users/go.sum
  getting-started/background/go.sum
  getting-started/bookshelf/go.sum
  getting-started/gopher-run/go.sum
  getting-started/sessions/go.sum
  go.mod
  go.sum
  internal/cloudrunci/testingapp/go.sum
  opencensus/metrics_quickstart/go.sum
  profiler/shakesapp/go.sum
  run/grpc-ping/go.sum
  run/grpc-server-streaming/go.sum
  run/image-processing/go.sum
  run/logging-manual/go.sum
  run/markdown-preview/editor/go.sum
  run/markdown-preview/renderer/go.sum
  run/testing/go.mod
  run/testing/go.sum
  storage/buckets/buckets_test.go
  storage/buckets/change_default_storage_class.go
Labels: api: storage, automerge, cla: yes, samples

#1941 fix: add missing return statements
  appengine/go11x/pubsub/authenicated_push/main.go
  appengine_flexible/pubsub/pubsub.go
Labels: automerge: exact, cla: yes, samples

#1931 docs(spanner): add samples for Point in Time Recovery
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_cancel_backup_create.go
  spanner/spanner_snippets/spanner/spanner_create_backup.go
  spanner/spanner_snippets/spanner/spanner_create_database_with_retention_period.go
Labels: api: spanner, cla: yes, samples

#1947 testing(run): increase retry delay for builds to reduce flakiness
  internal/cloudrunci/cloudrunci.go
  internal/cloudrunci/gcloud.go
Labels: api: run, cla: yes, samples

#1945 docs(spanner): add CommitStats sample
  eventarc/testing/go.sum
  go.mod
  go.sum
  run/testing/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_commit_stats.go
Labels: api: spanner, automerge, cla: yes, samples

#1957 docs(securitycenter): standardize new tags to match most-used tag from other langs
  securitycenter/assets/list_all_project_assets.go
  securitycenter/assets/list_project_assets_and_state_changes.go
  securitycenter/assets/list_project_assets_at_time.go
  securitycenter/findings/get_source_iam.go
  securitycenter/findings/list_findings_with_security_mark.go
  securitycenter/findings/set_finding_state.go
  securitycenter/findings/set_source_iam.go
  securitycenter/settings/enable_asset_discovery.go
Labels: api: securitycenter, automerge, cla: yes, samples

#1958 fix: update eventarc storage name
  eventarc/audit_storage/main.go
  eventarc/audit_storage/main_test.go
Labels: automerge, cla: yes, samples

#1959 fix(bigquery): correct error checking logic in dry run example
  bigquery/snippets/querying/bigquery_query_dry_run.go
Labels: api: bigquery, cla: yes, samples

#1960 docs(securitycenter): Fix conflict tag introduced in PR 1957
  securitycenter/findings/add_security_marks.go
Labels: api: securitycenter, automerge, cla: yes, samples

#1962 fix(spanner): use earliest version time for backups
  spanner/spanner_snippets/spanner/spanner_create_backup.go
Labels: api: spanner, automerge, cla: yes, samples

#1963 chore: add go1.16 testing infra
  eventarc/testing/go.sum
  go.sum
  run/testing/go.sum
  testing/docker/cloudbuild.yaml
  testing/kokoro/go116.cfg
Labels: automerge, cla: yes, samples

#1966 fix: added execution permissions to script
  testing/kokoro/configure_cloudsql.bash
Labels: cla: yes, samples
