Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-09, with the labels that each got.

#2220 fix(pubsub): update concurrency sample
  pubsub/subscriptions/pull_concurrency.go
  pubsub/subscriptions/subscription_test.go
Labels: cla: yes, api: pubsub, samples

#2224 fix(healthcare): add request field to bundle
  healthcare/fhir_execute_bundle.go
  healthcare/fhir_store_create.go
Labels: cla: yes, api: healthcare, samples

#2226 test(spanner): skip failing test
  spanner/spanner_snippets/spanner/integration_test.go
Labels: automerge, cla: yes, api: spanner, samples

#2223 feat(compute): add firewall samples
  compute/firewall/create_firewall_rule.go
  compute/firewall/delete_firewall_rule.go
  compute/firewall/firewall_test.go
  compute/firewall/list_firewall_rules.go
  compute/firewall/patch_firewall_priority.go
Labels: automerge, cla: yes, api: compute, samples

#2222 feat(firestore): add partition queries samples
  eventarc/testing/go.sum
  firestore/firestore_snippets/collection_group_query.go
  firestore/firestore_snippets/collection_group_test.go
  go.mod
  go.sum
  monitoring/go.sum
  run/testing/go.sum
Labels: cla: yes, api: firestore, samples

#2229 feat(gaming): show cluster installation state details for get and list methods
  gaming/servers/get_cluster.go
  gaming/servers/list_clusters.go
  gaming/servers/realm_test.go
Labels: cla: yes, samples

#2219 feat(cloudsql): add support for SSL certificates
  badfiles_test.go
  cloudsql/mysql/database-sql/Dockerfile
  cloudsql/mysql/database-sql/certs/.gitkeep
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/Dockerfile
  cloudsql/postgres/database-sql/certs/.gitkeep
  cloudsql/postgres/database-sql/cloudsql.go
Labels: cla: yes, api: cloudsql, samples

#2231 chore(cloudsql): declare and assign with :=
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/sqlserver/database-sql/cloudsql.go
Labels: cla: yes, api: cloudsql, samples

#2232 test(dlp): reenable TestInspectGCS
  dlp/snippets/inspect/inspect_test.go
Labels: automerge, cla: yes, api: dlp, samples

#2164 feat(pubsub): add schema samples
  badfiles_test.go
  eventarc/testing/go.sum
  go.mod
  go.sum
  internal/pubsub/schemas/us-states.pb.go
  monitoring/go.sum
  pubsub/schemas/create_avro_schema.go
  pubsub/schemas/create_proto_schema.go
  pubsub/schemas/create_topic_with_schema.go
  pubsub/schemas/delete_schema.go
  pubsub/schemas/get_schema.go
  pubsub/schemas/list_schemas.go
  pubsub/schemas/publish_avro_records.go
  pubsub/schemas/publish_proto_messages.go
  pubsub/schemas/resources/us-states.avsc
  pubsub/schemas/resources/us-states.proto
  pubsub/schemas/schemas_test.go
  pubsub/schemas/subscribe_avro_records.go
  pubsub/schemas/subscribe_proto_messages.go
  pubsub/topics/create_with_schema.go
  run/testing/go.sum
Labels: cla: yes, api: pubsub, samples

#2236 test(spanner): skip TestCustomerManagedEncryptionKeys
  spanner/spanner_snippets/spanner/integration_test.go
Labels: cla: yes, api: spanner, samples

#2221 feat(functions): add CloudEvent helloStorage sample
  functions/functionsv2/helloworld/go.mod
  functions/functionsv2/helloworld/go.sum
  functions/functionsv2/helloworld/hello_pubsub_test.go
  functions/functionsv2/helloworld/hello_storage.go
  functions/functionsv2/helloworld/hello_storage_test.go
Labels: automerge, cla: yes, api: cloudfunctions, samples

#2237 test(vision): unskip tests
  vision/product_search/get_similar_products_uri_test.go
  vision/product_search/get_similar_products_uri_with_filter_test.go
Labels: automerge, cla: yes, api: vision, samples

#2238 refactor(functions): v2 use directory per sample
  functions/functionsv2/hellopubsub/go.mod
  functions/functionsv2/hellopubsub/go.sum
  functions/functionsv2/hellopubsub/hello_pubsub.go
  functions/functionsv2/hellopubsub/hello_pubsub_test.go
  functions/functionsv2/hellostorage/go.mod
  functions/functionsv2/hellostorage/go.sum
  functions/functionsv2/hellostorage/hello_storage.go
  functions/functionsv2/hellostorage/hello_storage_test.go
  functions/functionsv2/helloworld/go.mod
Labels: automerge, cla: yes, api: cloudfunctions, samples

#2250 test(storage): skip PAP test for now
  storage/buckets/buckets_test.go
Labels: cla: yes, api: storage, samples
