Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-07, with the labels that each got.

#2127 fix: update google.golang.org/api to v0.50.0
  eventarc/testing/go.sum
  functions/security/go.mod
  functions/security/go.sum
  go.mod
  go.sum
  monitoring/go.mod
  monitoring/go.sum
  run/grpc-ping/go.mod
  run/grpc-ping/go.sum
  run/markdown-preview/editor/go.mod
  run/markdown-preview/editor/go.sum
  run/testing/go.sum
Labels: cla: yes, samples

#2128 chore(.github): update CODEOWNERS admin team
  .github/CODEOWNERS
Labels: automerge, cla: yes, samples

#2122 test(spanner): use a separate instance for each test
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, automerge, cla: yes, samples

#2133 test(spanner): unskip backup test
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2132 chore(firestore): align currently unused sample with other language tags
  firestore/firestore_snippets/query.go
Labels: api: firestore, automerge, cla: yes, samples

#2135 fix(spanner): retry CreateInstance requests on RESOURCE_EXHAUSTED
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2140 test(spanner): retry CreateInstance sample
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2145 test(spanner): fix backup sample tests
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2146 chore(asset): try to reduce flakiness
  asset/quickstart/export-assets-bigquery/main.go
  asset/quickstart/export-assets-bigquery/main_test.go
Labels: api: cloudasset, automerge, cla: yes, samples

#2141 feat(bigquery/snippets/loadingdata): add hive partitioning load sample
  bigquery/snippets/loadingdata/bigquery_load_table_gcs_hivepartitioning.go
  bigquery/snippets/loadingdata/integration_test.go
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.sum
  run/testing/go.sum
Labels: api: bigquery, automerge, cla: yes, samples

#2149 fix(run/markdown-preview): narrow text input width in web UI
  run/markdown-preview/editor/templates/index.html
Labels: api: run, cla: yes, samples

#2131 feat: update README with Secret Manager integration
  cloudsql/mysql/database-sql/README.md
  cloudsql/postgres/database-sql/README.md
Labels: automerge, cla: yes, samples

#2148 test(pubsublite): add retries to admin test
  pubsublite/admin/pubsublite_admin_test.go
Labels: api: pubsublite, automerge, cla: yes, samples

#2154 fix(kms): align parameter names properly
  kms/destroy_key_version.go
  kms/disable_key_version.go
  kms/enable_key_version.go
  kms/get_public_key.go
Labels: api: cloudkms, automerge, cla: yes, samples

#2155 chore(spanner): skip TestBackupSample
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2151 feat(compute): add instance list sample
  compute/compute_test.go
  compute/list_instances.go
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.mod
  monitoring/go.sum
  run/testing/go.sum
Labels: api: compute, automerge, cla: yes, samples

#2130 feat(secretmanager): add examples for using etags
  secretmanager/delete_secret_with_etag.go
  secretmanager/destroy_secret_version_with_etag.go
  secretmanager/disable_secret_version_with_etag.go
  secretmanager/enable_secret_version_with_etag.go
  secretmanager/secretmanager_test.go
  secretmanager/update_secret_with_etag.go
Labels: api: secretmanager, automerge, cla: yes, samples

#2152 fix(run): Add retries to tests
  run/testing/h2c.e2e_test.go
Labels: api: run, automerge, cla: yes, samples

#2156 fix(spanner): update OptimizerStatisticsPackage to latest
  spanner/spanner_snippets/spanner/spanner_create_client_with_query_options.go
  spanner/spanner_snippets/spanner/spanner_query_with_query_options.go
Labels: api: spanner, cla: yes, samples

#2157 fix(endpoints): update sample deployment apiVersion to apps/v1
  endpoints/getting-started/deployment.yaml
Labels: api: endpoints, automerge, cla: yes, samples

#2161 chore: rename file to not conflict with licensee
  header_test.go
Labels: automerge, cla: yes, samples

#2163 feat(spanner): add samples for query with GFE, gRPC and query stats
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_opencensus_capture_gfe_metric.go
  spanner/spanner_snippets/spanner/spanner_opencensus_capture_grpc_metric.go
  spanner/spanner_snippets/spanner/spanner_opencensus_capture_query_stats_metric.go
Labels: api: spanner, cla: yes, samples

#2167 feat: migrate to community maintained JWT lib
  eventarc/testing/go.sum
  getting-started/authenticating-users/go.mod
  getting-started/authenticating-users/go.sum
  getting-started/authenticating-users/main.go
  go.mod
  go.sum
  iot/mqttsnippets/create_jwt.go
  monitoring/go.sum
  run/testing/go.sum
Labels: automerge, cla: yes, samples
