Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-11, with the labels that each got.

#2290 chore(dialogflow): update readme
  dialogflow/README.md
Labels: cla: yes, api: dialogflow, samples

#2234 test(storage): Add bucket setup/teardown to bucket tests
  eventarc/testing/go.sum
  internal/testutil/storage_cleaner.go
  monitoring/go.sum
  opencensus/go.sum
  run/testing/go.sum
  storage/buckets/buckets_test.go
Labels: cla: yes, api: storage, samples

#2295 test(storage): fix s3_sdk test flake
  storage/s3_sdk/s3_gcs_test.go
Labels: cla: yes, api: storage, samples

#2291 feat(cloudsql): update sample apps with Kubernetes Engine yaml files
  cloudsql/mysql/database-sql/deployment.yaml
  cloudsql/mysql/database-sql/service-account.yaml
  cloudsql/mysql/database-sql/service.yaml
  cloudsql/postgres/database-sql/deployment.yaml
  cloudsql/postgres/database-sql/service-account.yaml
  cloudsql/postgres/database-sql/service.yaml
Labels: cla: yes, api: cloudsql, samples

#2298 fix(cloudsql) database max connection lifetime
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/sqlserver/database-sql/cloudsql.go
Labels: cla: yes, automerge: exact, samples

#2271 test(storage): add retry to GCS call in PostPolicy test
  storage/objects/objects_test.go
Labels: cla: yes, api: storage, samples

#2299 chore: migrate to main branch
  .github/workflows/go.yaml
  CONTRIBUTING.md
  getting-started/devflowapp/README.md
  testing/kokoro/mtls_smoketest.bash
  testing/kokoro/system_tests.sh
  testing/kokoro/trampoline.sh
Labels: cla: yes, samples

#2307 docs: update CONTRIBUTING with go.sum info
  CONTRIBUTING.md
Labels: cla: yes, samples

#2306 chore(.github): add owners for storagetransfer
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: cla: yes, samples

#2308 test(cloudrunci): fix gcloud test
  internal/cloudrunci/gcloud_test.go
Labels: cla: yes, samples

#2296 feat(storagetransfer): add quickstart for storage transfer service
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.sum
  opencensus/go.sum
  run/testing/go.sum
  spanner/go.sum
  storagetransfer/quickstart.go
  storagetransfer/quickstart_test.go
Labels: cla: yes, api: storagetransfer, samples
