Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2021-04, with the labels that each got.

#1902 feat(run): Add sigterm handler sample
  eventarc/testing/go.sum
  internal/cloudrunci/cloudrunci.go
  run/sigterm-handler/.dockerignore
  run/sigterm-handler/.gcloudignore
  run/sigterm-handler/Dockerfile
  run/sigterm-handler/go.mod
  run/sigterm-handler/main.go
  run/sigterm-handler/main_test.go
  run/testing/go.mod
  run/testing/go.sum
  run/testing/sigterm_handler.e2e_test.go
  testing/kokoro/configure_gcloud.bash
Labels: api: run, cla: yes, samples

#2018 feat(monitoring): add Opencensus sample
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/opencensus/main.go
  monitoring/opencensus/main_test.go
  run/testing/go.sum
Labels: api: monitoring, cla: yes, samples

#2034 fix(dataproc): increase retry count and delay for workflow templates, add UUID to resource names
  dataproc/dataproc_test.go
  dataproc/instantiate_inline_workflow_template_test.go
  dataproc/quickstart/quickstart_test.go
Labels: api: dataproc, automerge, cla: yes, samples

#2039 feat: use default -mod=readonly from Go 1.16
  cloudsql/mysql/database-sql/Dockerfile
  cloudsql/postgres/database-sql/Dockerfile
  cloudsql/sqlserver/database-sql/Dockerfile
  eventarc/audit_storage/Dockerfile
  eventarc/generic/Dockerfile
  eventarc/pubsub/Dockerfile
  memorystore/redis/cloud_run_deployment/Dockerfile
  run/grpc-ping/Dockerfile
  run/hello-broken/Dockerfile
  run/helloworld/Dockerfile
  run/image-processing/Dockerfile
  run/logging-manual/Dockerfile
  run/markdown-preview/editor/Dockerfile
  run/markdown-preview/renderer/Dockerfile
  run/pubsub/Dockerfile
  run/sigterm-handler/Dockerfile
  run/system_package/Dockerfile
Labels: cla: yes, samples

#2022 feat(pubsub): add schema samples
  go.mod
  go.sum
  internal/pubsub/schemas/us-states.pb.go
  pubsub/schemas/create_avro_schema.go
  pubsub/schemas/create_proto_schema.go
  pubsub/schemas/create_topic_with_schema.go
  pubsub/schemas/delete_schema.go
  pubsub/schemas/get_schema.go
  pubsub/schemas/list_schemas.go
  pubsub/schemas/publish_avro_records.go
  pubsub/schemas/publish_proto_messages.go
  pubsub/schemas/resources/us-states.avsc
  pubsub/schemas/resources/us-states.proto
  pubsub/schemas/schemas_test.go
  pubsub/schemas/subscribe_avro_records.go
  pubsub/schemas/subscribe_proto_messages.go
  pubsub/topics/create_with_schema.go
Labels: api: pubsub, cla: yes, samples

#2043 feat: add blunderbuss config to cloud iot label
  .github/blunderbuss.yml
Labels: cla: yes, samples

#2041 test(storage): unflake TestGetKey
  storage/service_account/hmac/hmac_test.go
Labels: api: storage, automerge, cla: yes, kokoro:force-run, priority: p2, samples

#2045 chore(asset): try to reduce flakiness
  asset/quickstart/analyze-iam-policy-longrunning-bigquery/main_test.go
  asset/quickstart/export-assets-bigquery/main_test.go
  asset/quickstart/export-assets/main_test.go
  asset/quickstart/search-all-resources/main_test.go
  internal/testutil/storage_cleaner.go
Labels: api: cloudasset, cla: yes, samples

#2050 fix(spanner): fix conflicting restore db operations
  spanner/spanner_snippets/spanner/integration_test.go
Labels: api: spanner, cla: yes, samples

#2051 chore(.github): add Renovate Go version constraint
  .github/renovate.json
Labels: automerge, cla: yes, samples

#2053 test(asset): increase BQ retries
  asset/quickstart/analyze-iam-policy-longrunning-bigquery/main_test.go
Labels: api: cloudasset, cla: yes, samples

#2052 testing: check mod version when no Go files in root
  testing/kokoro/system_tests.sh
Labels: cla: yes, samples

#2054 test(language): add retries
  language/analyze/analyze_test.go
Labels: api: language, automerge, cla: yes, samples

#2056 test: increase various retries
  bigtable/writes/writes_test.go
  firestore/firestore_snippets/listen_test.go
  healthcare/dicom_test.go
Labels: api: firestore, cla: yes, samples

#1923 test: Temporarily disable default deadlines while running Spanner sample tests
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_add_column.go
  spanner/spanner_snippets/spanner/spanner_add_numeric_column.go
  spanner/spanner_snippets/spanner/spanner_add_timestamp_column.go
  spanner/spanner_snippets/spanner/spanner_cancel_backup_create.go
  spanner/spanner_snippets/spanner/spanner_create_backup.go
  spanner/spanner_snippets/spanner/spanner_create_backup_with_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_create_database.go
  spanner/spanner_snippets/spanner/spanner_create_database_with_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_create_database_with_retention_period.go
  spanner/spanner_snippets/spanner/spanner_create_index.go
  spanner/spanner_snippets/spanner/spanner_create_instance.go
  spanner/spanner_snippets/spanner/spanner_create_storing_index.go
  spanner/spanner_snippets/spanner/spanner_create_table_documents_with_history_table.go
  spanner/spanner_snippets/spanner/spanner_create_table_documents_with_timestamp.go
  spanner/spanner_snippets/spanner/spanner_create_table_with_datatypes.go
  spanner/spanner_snippets/spanner/spanner_delete_backup.go
  spanner/spanner_snippets/spanner/spanner_list_backup_operations.go
  spanner/spanner_snippets/spanner/spanner_list_backups.go
  spanner/spanner_snippets/spanner/spanner_list_database_operations.go
  spanner/spanner_snippets/spanner/spanner_restore_backup.go
  spanner/spanner_snippets/spanner/spanner_restore_backup_with_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_update_backup.go
Labels: api: spanner, cla: yes, priority: p2, samples, type: bug

#2058 fix(memorystore): update main.go since redis.NewPool is deprecated
  memorystore/redis/main.go
Labels: cla: yes, samples

#2060 test(securitycenter): skip TestListNotificationConfigs
  securitycenter/notifications/notifications_test.go
Labels: api: securitycenter, automerge, cla: yes, samples

#2061 test(securitycenter): unskip TestListNotificationConfigs
  securitycenter/notifications/notifications_test.go
Labels: api: securitycenter, automerge, cla: yes, samples

#2063 tests: more AE retries, skip Spanner Backup test
  appengine/go11x/tasks/create_task/create_task_test.go
  spanner/spanner_snippets/spanner/integration_test.go
Labels: cla: yes, samples

#2070 doc(bigquery): remove spurious comment
  bigquery/snippets/table/bigquery_list_tables.go
Labels: api: bigquery, cla: yes, samples

#2073 chore: bump grpc message send limit to 128MB in sample
  bigquery/bigquery_storage_quickstart/main.go
Labels: cla: yes, samples

#2074 docs(datastore): address customer confusion of IncompleteKey
  datastore/snippets/snippet_test.go
Labels: api: datastore, automerge, cla: yes, samples
