Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-11, with the labels that each got.

#2747 feat(spanner): add samples for PG.JSONB
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/pg_spanner_add_jsonb_column.go
  spanner/spanner_snippets/spanner/pg_spanner_create_database.go
  spanner/spanner_snippets/spanner/pg_spanner_query_with_jsonb_parameter.go
  spanner/spanner_snippets/spanner/pg_spanner_update_data_with_jsonb_column.go
Labels: api: spanner, samples

#2755 chore(storage): bump storage dependency
  storage/go.mod
  storage/go.sum
Labels: api: storage, samples

#2737 feat(storage): add autoclass samples
  storage/buckets/buckets_test.go
  storage/buckets/get_autoclass.go
  storage/buckets/set_autoclass.go
Labels: api: storage, samples

#2756 feat(cloudsql): add Cloud SQL for SQL Server app.flexible.yaml
  cloudsql/sqlserver/database-sql/cmd/app/app.flexible.yaml
Labels: samples

#2750 feat(bigquery): add set client endpoint sample
  bigquery/snippets/client/bigquery_set_client_endpoint.go
  bigquery/snippets/client/integration_test.go
Labels: automerge, api: bigquery, samples

#2763 feat(cloudsql): move App Engine Flexible yaml file
  cloudsql/mysql/database-sql/README.md
  cloudsql/mysql/database-sql/app.flexible.yaml
  cloudsql/postgres/database-sql/README.md
  cloudsql/postgres/database-sql/app.flexible.yaml
  cloudsql/sqlserver/database-sql/README.md
  cloudsql/sqlserver/database-sql/app.flexible.yaml
Labels: api: cloudsql, samples

#2744 feat(gcfv2): Convert OCR tutorial code for GCFv2.
  functions/functionsv2/ocr/README.md
  functions/functionsv2/ocr/app/detect.go
  functions/functionsv2/ocr/app/go.mod
  functions/functionsv2/ocr/app/go.sum
  functions/functionsv2/ocr/app/ocr_test.go
  functions/functionsv2/ocr/app/process.go
  functions/functionsv2/ocr/app/save.go
  functions/functionsv2/ocr/app/setup.go
  functions/functionsv2/ocr/app/translate.go
Labels: samples

#2739 functions: Update GCF Memorystore sample to use Functions Framework
  functions/memorystore/redis/go.mod
  functions/memorystore/redis/go.sum
  functions/memorystore/redis/visitcount.go
  functions/memorystore/redis/visitcount_test.go
Labels: api: cloudfunctions, samples

#2746 feat(batch): Add samples for advanced job creation
  batch/create_with_gcs_bucket.go
  batch/create_with_gcs_bucket_test.go
  batch/create_with_template.go
  batch/create_with_template_test.go
  batch/get_job.go
  batch/go.mod
  batch/go.sum
  batch/job_basics_test.go
  batch/read_job_logs.go
  batch/testutils.go
  go.mod
  go.sum
Labels: kokoro:force-run, samples, api: batch

#2768 chore(bigquery): fix typos in commented vars
  bigquery/snippets/job/bigquery_export_model.go
  bigquery/snippets/job/bigquery_extract_table.go
  bigquery/snippets/job/bigquery_extract_table_compressed.go
  bigquery/snippets/job/bigquery_extract_table_json.go
Labels: api: bigquery, samples

#2770 chore(jobs): removing obsolete region tags
  jobs/v3/howto/general_search_sample.go
Labels: api: jobs, samples

#2749 docs(firestore): Update retrieve.go
  firestore/retrieve.go
Labels: api: firestore, samples

#2771 fix(batch): Use the appropriate error message
  batch/read_job_logs.go
Labels: samples, api: batch
