Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-07, with the labels that each got.

#2538 chore(cloudsql): correct erroneous comment
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/sqlserver/database-sql/cloudsql.go
Labels: api: cloudsql, samples

#2625 test(media): add retry to storage attr check
  media/transcoder/transcoder_test.go
Labels: api: mediatranslation, samples

#2624 feat(storagetransfer): add samples for posix transfers and manifest
  storagetransfer/download_to_posix.go
  storagetransfer/go.mod
  storagetransfer/go.sum
  storagetransfer/storagetransfer_test.go
  storagetransfer/transfer_between_posix.go
  storagetransfer/transfer_from_posix.go
  storagetransfer/transfer_using_manifest.go
Labels: api: storagetransfer, samples

#2611 feat(pubsub): create BigQuerySubscription sample
  pubsub/go.mod
  pubsub/go.sum
  pubsub/subscriptions/create_bigquery_subscription.go
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, samples

#2583 feat(secretmanager): create update_secret_with_alias.go
  secretmanager/go.mod
  secretmanager/go.sum
  secretmanager/secretmanager_test.go
  secretmanager/update_secret_with_alias.go
Labels: api: secretmanager, samples

#2643 docs(contributing): add link to Google Cloud Samples Style Guide
  CONTRIBUTING.md
Labels: samples

#2645 test(storage): Skip dual region test
  storage/buckets/buckets_test.go
Labels: api: storage, samples

#2636 testing(eventarc): add HTTP test retry
  eventarc/testing/pubsub.e2e_test.go
Labels: samples, api: eventarc

#2650 chore(storage): update storage dependency
  go.mod
  go.sum
  run/testing/go.mod
  run/testing/go.sum
Labels: automerge, api: storage, samples

#2620 feat(storage): update dual-region sample using CustomPlacementConfig
  storage/buckets/buckets_test.go
  storage/buckets/create_bucket_dual_region.go
  storage/go.mod
  storage/go.sum
Labels: automerge, api: storage, samples

#2627 samples(mediacdn): init cme samples
  mediacdn/go.sum
  mediacdn/sign_cookie.go
  mediacdn/sign_test.go
  mediacdn/sign_url.go
  mediacdn/sign_url_prefix.go
Labels: samples

#2628 samples(compute): add disks samples
  compute/disks/create_disk_from_snapshot.go
  compute/disks/create_empty_disk.go
  compute/disks/delete_disk.go
  compute/disks/disks_test.go
  compute/disks/set_disk_autodelete.go
Labels: api: compute, samples

#2629 samples(compute): add snapshots samples
  compute/snapshots/create_snapshot.go
  compute/snapshots/delete_snapshot.go
  compute/snapshots/snapshots_test.go
Labels: api: compute, samples

#2651 fix: fix STS region tags
  storagetransfer/transfer_between_posix.go
  storagetransfer/transfer_using_manifest.go
Labels: samples

#2656 test(storagetransfer): fix test cleanup panic
  storagetransfer/storagetransfer_test.go
Labels: api: storagetransfer, samples

#2660 chore: remove gaming samples
  gaming/go.mod
  gaming/go.sum
  gaming/servers/create_cluster.go
  gaming/servers/create_config.go
  gaming/servers/create_deployment.go
  gaming/servers/create_realm.go
  gaming/servers/delete_cluster.go
  gaming/servers/delete_config.go
  gaming/servers/delete_deployment.go
  gaming/servers/delete_realm.go
  gaming/servers/deployment_test.go
  gaming/servers/doc.go
  gaming/servers/get_cluster.go
  gaming/servers/get_config.go
  gaming/servers/get_deployment.go
  gaming/servers/get_realm.go
  gaming/servers/get_rollout.go
  gaming/servers/list_clusters.go
  gaming/servers/list_configs.go
  gaming/servers/list_deployments.go
  gaming/servers/list_realms.go
  gaming/servers/realm_test.go
  gaming/servers/update_cluster.go
  gaming/servers/update_deployment.go
  gaming/servers/update_realm.go
  gaming/servers/update_rollout_default.go
  gaming/servers/update_rollout_override.go
  gaming/servers/update_rollout_remove_default.go
  gaming/servers/update_rollout_remove_override.go
Labels: samples
