Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-01, with the labels that each got.

#2305 feat(spanner): add disclaimer comment about gfe_latency metric
  spanner/spanner_snippets/spanner/spanner_opencensus_capture_gfe_metric.go
Labels: cla: yes, api: spanner, samples

#2362 chore: format the project
  gaming/servers/create_config.go
  gaming/servers/update_rollout_override.go
  media/transcoder/create_job_from_ad_hoc.go
  media/transcoder/create_job_template.go
  media/transcoder/create_job_with_animated_overlay.go
  media/transcoder/create_job_with_periodic_images_spritesheet.go
  media/transcoder/create_job_with_set_number_images_spritesheet.go
  media/transcoder/create_job_with_static_overlay.go
  opencensus/trace_exemplar.go
Labels: samples

#2372 testing: revert skipped tests due to issue 2349
  speech/caption/caption_test.go
  speech/captionasync/captionasync_test.go
  speech/wordoffset/wordoffset_test.go
  videointelligence/annotate/text_detection_gcs_test.go
  videointelligence/video_analyze/video_analyze_test.go
  vision/detect/detect_test.go
Labels: samples

#2317 refactor(functions): update HTTP sample to use declarative function
  functions/helloworld/go.mod
  functions/helloworld/go.sum
  functions/helloworld/hello_http.go
  functions/helloworld/hello_http_test.go
Labels: automerge, api: cloudfunctions, samples

#2363 samples(compute): add create instances compute samples
  compute/instances/create-start-instance/create_instance_from_custom_image.go
  compute/instances/create-start-instance/create_instance_from_public_image.go
  compute/instances/create-start-instance/create_instance_from_snapshot.go
  compute/instances/create-start-instance/create_instance_from_snapshot_test.go
  compute/instances/create-start-instance/create_instance_test.go
  compute/instances/create-start-instance/create_instance_with_additional_disk.go
  compute/instances/create-start-instance/create_instance_with_snapshotted_data_disk.go
  compute/instances/create-start-instance/create_instance_with_subnet.go
  compute/instances/create-start-instance/utils_test.go
Labels: api: compute, samples

#2352 feat(compute): add create template samples
  compute/instance-templates/create-instance-templates/create_instance_templates_test.go
  compute/instance-templates/create-instance-templates/create_template.go
  compute/instance-templates/create-instance-templates/create_template_from_instance.go
  compute/instance-templates/create-instance-templates/create_template_with_subnet.go
  compute/instance-templates/create-instance-templates/delete_instance_template.go
  compute/instance-templates/create-instance-templates/get_instance_template.go
  compute/instance-templates/create-instance-templates/list_instance_templates.go
Labels: api: compute, samples

#2315 refactor(functions): update Pub/Sub samples to use declarative function
  functions/functionsv2/hellopubsub/go.mod
  functions/functionsv2/hellopubsub/go.sum
  functions/functionsv2/hellopubsub/hello_pubsub.go
  functions/functionsv2/hellopubsub/hello_pubsub_test.go
Labels: automerge, api: cloudfunctions, samples

#2314 refactor(functions): update Cloud Audit Logs samples to use declarative
  functions/functionsv2/helloauditlog/go.mod
  functions/functionsv2/helloauditlog/go.sum
  functions/functionsv2/helloauditlog/hello_auditlog.go
  functions/functionsv2/helloauditlog/hello_auditlog_test.go
Labels: api: cloudfunctions, samples

#2371 docs(bigquery): add additional samples
  bigquery/snippets/job/bigquery_create_job.go
  bigquery/snippets/job/integration_test.go
  bigquery/snippets/table/bigquery_create_table_range_partitioned.go
  bigquery/snippets/table/bigquery_update_iam_policy.go
  bigquery/snippets/table/integration_test.go
Labels: api: bigquery, samples

#2379 docs(bigquery): add storage write pending stream example
  bigquery/snippets/managedwriter/bigquerystorage_append_rows_pending.go
  bigquery/snippets/managedwriter/exampleproto/sample_data.pb.go
  bigquery/snippets/managedwriter/exampleproto/sample_data.proto
  bigquery/snippets/managedwriter/integration_test.go
  eventarc/testing/go.sum
  go.mod
  go.sum
  header_test.go
  monitoring/go.mod
  monitoring/go.sum
  opencensus/go.mod
  opencensus/go.sum
  run/testing/go.mod
  run/testing/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: api: bigquery, samples

#2381 feat(cloudsql): Add SQL Server to Cloud SQL Cloud Run quickstart.
  cloudsql/sqlserver/database-sql/Dockerfile
  cloudsql/sqlserver/database-sql/certs/.gitkeep
  cloudsql/sqlserver/database-sql/cloudsql.go
Labels: samples

#2319 feat: add code sample and test for concatenating two input videos
  media/transcoder/create_job_with_concatenated_inputs.go
  media/transcoder/transcoder_test.go
Labels: samples

#2391 chore: update storage dependency
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.mod
  monitoring/go.sum
  opencensus/go.mod
  opencensus/go.sum
  run/testing/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: samples

#2356 sample(storage): add retry config sample
  storage/retry/configure_retries.go
  storage/retry/retry_test.go
Labels: api: storage, samples

#2393 refactor(pubsub): remove duplicate schema sample
  pubsub/topics/create_with_schema.go
Labels: api: pubsub, samples

#2378 feat(pubsub): add publisher flow control sample
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.sum
  opencensus/go.sum
  pubsub/topics/publish_flow_control.go
  pubsub/topics/topics_test.go
  run/testing/go.mod
  run/testing/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: api: pubsub, samples

#2397 chore(all): fix deps that were bumped past 1.11
  eventarc/testing/go.sum
  go.mod
  go.sum
  monitoring/go.sum
  opencensus/go.sum
  run/testing/go.mod
  run/testing/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: samples

#2398 chore(compute): skip TestCreateInstanceTemplatesSnippets
  compute/instance-templates/create-instance-templates/create_instance_templates_test.go
Labels: api: compute, samples

#2399 chore: upgrade deps what have vulnerability warnings
  memorystore/redis/go.mod
  memorystore/redis/go.sum
  run/markdown-preview/renderer/go.mod
  run/markdown-preview/renderer/go.sum
Labels: samples

#2394 refactor(pubsub): rename region tags
  pubsub/topics/publish_flow_control.go
Labels: api: pubsub, samples

#2279 feat(storage): add turbo replication (RPO) samples
  internal/testutil/storage_cleaner.go
  storage/buckets/buckets_test.go
  storage/buckets/create_bucket_turbo_replication.go
  storage/buckets/get_bucket_metadata.go
  storage/buckets/get_rpo.go
  storage/buckets/set_rpo_async_turbo.go
  storage/buckets/set_rpo_default.go
Labels: cla: yes, api: storage, samples

#2392 chore(samples): add tail logs sample using api2
  logging/go.mod
  logging/go.sum
  logging/taillogs/taillogs.go
  logging/taillogs/taillogs_test.go
Labels: samples
