Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-03, with the labels that each got.

#2452 feat(storage): update PostPolicyV4 samples to handle auth for user
  storage/go.mod
  storage/objects/generate_signed_post_policy_v4.go
  storage/objects/objects_test.go
Labels: api: storage, samples

#2454 chore: remove non-existent teams from CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#2312 feat(cloudsql/mysql): update to V2 sample
  .gitignore
  cloudsql/mysql/database-sql/Dockerfile
  cloudsql/mysql/database-sql/README.md
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/mysql/database-sql/cloudsql_test.go
  cloudsql/mysql/database-sql/cmd/app/app.flexible.yaml
  cloudsql/mysql/database-sql/cmd/app/app.standard.yaml
  cloudsql/mysql/database-sql/cmd/app/main.go
  cloudsql/mysql/database-sql/connect_connector.go
  cloudsql/mysql/database-sql/connect_tcp.go
  cloudsql/mysql/database-sql/connect_unix.go
  cloudsql/mysql/database-sql/deployment.yaml
  cloudsql/mysql/database-sql/go.mod
  cloudsql/mysql/database-sql/go.sum
  cloudsql/mysql/database-sql/templates/index.html
Labels: cla: yes, api: cloudsql, samples

#2433 feat(cloudsql/postgres): update to v2 samples
  cloudsql/postgres/database-sql/Dockerfile
  cloudsql/postgres/database-sql/README.md
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql_test.go
  cloudsql/postgres/database-sql/cmd/app/app.flexible.yaml
  cloudsql/postgres/database-sql/cmd/app/app.standard.yaml
  cloudsql/postgres/database-sql/cmd/app/main.go
  cloudsql/postgres/database-sql/connect_connector.go
  cloudsql/postgres/database-sql/connect_tcp.go
  cloudsql/postgres/database-sql/connect_unix.go
  cloudsql/postgres/database-sql/deployment.yaml
  cloudsql/postgres/database-sql/go.mod
  cloudsql/postgres/database-sql/go.sum
  cloudsql/postgres/database-sql/templates/index.html
Labels: api: cloudsql, samples

#2453 chore(storage): delete unused samples
  storage/buckets/main.go
  storage/objects/acl.go
  storage/objects/main.go
Labels: api: storage, samples

#2468 chore(csql): correct region tag names
  cloudsql/postgres/database-sql/cloudsql.go
Labels: samples

#2470 chore(clousql): add missing test envvars
  testing/kokoro/test-env.tmpl.sh
Labels: samples

#2471 chore(testing): always pull latest secret
  CONTRIBUTING.md
  testing/kokoro/pull-secrets.sh
Labels: samples

#2465 bug(internal): avoid reusing exec.Cmd objects on retry
  internal/cloudrunci/gcloud.go
  internal/cloudrunci/gcloud_test.go
Labels: samples

#2409 chore(logging): fix deprecated package and func
  monitoring/monitoring_quickstart/main.go
Labels: api: logging, samples

#2474 chore: update CODEOWNERS for aap-dpes product ownership
  .github/CODEOWNERS
Labels: samples

#2455 samples(compute): add preventing accidental vm deletion samples
  compute/instances/preventing-accidental-vm-deletion/create_instance.go
  compute/instances/preventing-accidental-vm-deletion/get_delete_protection.go
  compute/instances/preventing-accidental-vm-deletion/preventing_accidental_vm_deletion_test.go
  compute/instances/preventing-accidental-vm-deletion/set_delete_protection.go
Labels: api: compute, samples

#2472 fix(serverless): clean up ID token example
  functions/security/idtoken.go
  functions/security/idtoken_cloudfunction.go
  functions/security/security_system_test.go
Labels: samples

#2457 refactor(pubsub): remove usage of channels with Receive
  pubsub/go.mod
  pubsub/subscriptions/async_pull.go
  pubsub/subscriptions/async_pull_custom_attributes.go
  pubsub/subscriptions/dead_letter_delivery_attempt.go
  pubsub/subscriptions/pull_concurrency.go
  pubsub/subscriptions/subscription_test.go
  pubsub/subscriptions/sync_pull.go
Labels: api: pubsub, samples

#2481 fix(run): deflake sigterm-handler by sigterm'ing explicitly
  run/sigterm-handler/main.go
  run/testing/sigterm_handler.e2e_test.go
Labels: api: run, samples

#2483 feat(storage): add setting client endpoint sample
  storage/service_account/client_endpoint/client_endpoint_test.go
  storage/service_account/client_endpoint/set_client_endpoint.go
Labels: api: storage, samples

#2442 feat(storage): add preconditions to object samples
  storage/objects/change_file_storage_class.go
  storage/objects/change_object_csek_to_cmek.go
  storage/objects/copy_file.go
  storage/objects/copy_file_archived_generation.go
  storage/objects/delete_file.go
  storage/objects/move_file.go
  storage/objects/objects_test.go
  storage/objects/release_event_based_hold.go
  storage/objects/release_temporary_hold.go
  storage/objects/rotate_encryption_key.go
  storage/objects/set_event_based_hold.go
  storage/objects/set_metadata.go
  storage/objects/set_temporary_hold.go
  storage/objects/upload_encrypted_file.go
  storage/objects/upload_file.go
  storage/objects/upload_with_kms_key.go
Labels: api: storage, samples

#2484 chore: update cfg file names to not include version info
  testing/kokoro/earliest-version.cfg
  testing/kokoro/latest-version.cfg
Labels: samples

#2485 chore(storage): fix fn name typo in comment
  storage/notifications/create.go
Labels: api: storage, samples

#2490 fix(run/testing/grpc): de-flake by being less picky about receive times.
  run/testing/grpc_server_streaming.e2e_test.go
Labels: api: run, samples

#2489 fix(cloudsql): restore missing region tags
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/sqlserver/database-sql/cloudsql.go
Labels: api: cloudsql, samples

#2487 fix(healthcare): remove use of client library in FHIR search
  healthcare/fhir_resource_search.go
  healthcare/fhir_resource_search_get.go
  healthcare/fhir_resource_search_post.go
  healthcare/fhir_test.go
  healthcare/go.mod
  healthcare/go.sum
Labels: api: healthcare, samples

#2492 feat(pubsub): support regional resources in samples
  pubsublite/admin/create_subscription.go
  pubsublite/admin/create_topic.go
  pubsublite/admin/delete_subscription.go
  pubsublite/admin/delete_topic.go
  pubsublite/admin/get_subscription.go
  pubsublite/admin/get_topic.go
  pubsublite/admin/list_subscriptions_in_project.go
  pubsublite/admin/list_subscriptions_in_topic.go
  pubsublite/admin/pubsublite_admin_test.go
  pubsublite/admin/update_subscription.go
  pubsublite/admin/update_topic.go
Labels: api: pubsub, samples

#2469 feat(spanner): add samples for PG
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/pg_spanner_batch_dml.go
  spanner/spanner_snippets/spanner/pg_spanner_case_sensitivity.go
  spanner/spanner_snippets/spanner/pg_spanner_cast_data_type.go
  spanner/spanner_snippets/spanner/pg_spanner_create_database.go
  spanner/spanner_snippets/spanner/pg_spanner_dml_with_parameters.go
  spanner/spanner_snippets/spanner/pg_spanner_functions.go
  spanner/spanner_snippets/spanner/pg_spanner_information_schema.go
  spanner/spanner_snippets/spanner/pg_spanner_interleaved_table.go
  spanner/spanner_snippets/spanner/pg_spanner_numeric_data_type.go
  spanner/spanner_snippets/spanner/pg_spanner_order_nulls.go
  spanner/spanner_snippets/spanner/pg_spanner_partitioned_dml.go
  spanner/spanner_snippets/spanner/pg_spanner_query_parameter.go
  spanner/spanner_snippets/spanner/spanner_create_clients.go
Labels: api: spanner, samples
