Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-08, with the labels that each got.

#2657 feat(opentelemetry): add resource to the trace example
  opentelemetry/go.mod
  opentelemetry/go.sum
  opentelemetry/trace/main.go
Labels: samples

#2638 test(bigtable): fixup a handful of style violations
  bigtable/reads/reads.go
  bigtable/reads/reads_test.go
Labels: api: bigtable, samples

#2663 chore: remove failing test
  go.mod
  go.sum
  internal/mtls_smoketest/smoketest_test.go
  run/testing/go.sum
Labels: samples

#2665 chore(translate): skip TestGetSupportedLanguages for now
  translate/v3/get_supported_languages_test.go
Labels: api: translate, samples

#2664 fix(assets): make asset export to BQ and GCS more verbose
  asset/quickstart/export-assets-bigquery/main_test.go
  asset/quickstart/export-assets/main_test.go
Labels: samples

#2666 chore: fix typo depoy --> deploy
  getting-started/gce/cloudbuild.yaml
Labels: samples

#2673 test(storage): increase bucket delete timeout
  storage/buckets/delete_bucket.go
Labels: api: storage, samples

#2658 docs(secretmanager): Added sample for creating Secret with UserManaged replication
  secretmanager/create_secret_with_user_managed_replication.go
  secretmanager/secretmanager_test.go
Labels: api: secretmanager, samples

#2680 chore(ci): run with latest goimports
  .github/header-checker-lint.yml
  bigtable/garbagecollection/create_family_gc_intersect.go
  bigtable/garbagecollection/create_family_gc_max_age.go
  bigtable/garbagecollection/create_family_gc_max_versions.go
  bigtable/garbagecollection/create_family_gc_nested.go
  bigtable/garbagecollection/create_family_gc_union.go
  bigtable/search/search.go
  cdn/signedcookies/sign_cookie_test.go
  cdn/signedurls/signurl_test.go
  compute/quickstart/compute_quickstart_sample.go
  compute/quickstart/compute_quickstart_sample_test.go
  dataproc/quickstart/quickstart.go
  docs/appengine/storage/app.go
  endpoints/getting-started-grpc/helloworld/helloworld.pb.go
  getting-started/gopher-run/generator/generator_test.go
  header_test.go
  internal/aeintegrate/aeintegrate.go
  internal/cleanaeversions/cleanaeversions.go
  jobs/v3/howto/general_search_sample.go
  mediacdn/sign_test.go
  monitoring/prometheus/main.go
  opentelemetry/doc.go
  opentelemetry/trace/main.go
  run/authentication/auth_test.go
  spanner/spanner_snippets/spanner/spanner_query_with_json_parameter.go
  speech/livecaption/livecaption.go
  tasks/token/create_http_task_with_token_test.go
  testing/sampletests/main.go
  texttospeech/synthesize_file/synthesize_file.go
  texttospeech/synthesize_text/synthesize_text.go
Labels: samples

#2679 chore(cloudsql): add consistent region tags
  cloudsql/mysql/database-sql/connect_tcp.go
  cloudsql/postgres/database-sql/connect_tcp.go
  cloudsql/sqlserver/database-sql/connect_tcp.go
Labels: api: cloudsql, samples

#2672 docs: clarify Google CDN is Cloud CDN
  media/videostitcher/create_cdn_key.go
Labels: samples

#2682 chore: remove unused sampletests
  badfiles_test.go
  testing/kokoro/system_tests.sh
  testing/sampletests/fakesamples/differentmodule/go.mod
  testing/sampletests/fakesamples/differentmodule/go.sum
  testing/sampletests/fakesamples/differentmodule/should_not_be_checked.go
  testing/sampletests/fakesamples/hello.go
  testing/sampletests/fakesamples/hello_test.go
  testing/sampletests/fakesamples/samemodule/has_region_tags.go
  testing/sampletests/go.mod
  testing/sampletests/go.sum
  testing/sampletests/main.go
  testing/sampletests/main_test.go
  testing/sampletests/testdata/raw_log.xml
Labels: kokoro:force-run, samples

#2674 fix(pubsub): fix flaky admin tests
  pubsub/subscriptions/add_users.go
  pubsub/subscriptions/pull_concurrency.go
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, samples

#2684 test(storage): add test retry
  storagetransfer/storagetransfer_test.go
Labels: api: storage, samples

#2686 test(storage): add retry to disableBucketLifecycleManagement
  storage/buckets/buckets_test.go
Labels: api: storage, samples

#2683 fix: Fix typo on function comment
  compute/reset_instance.go
Labels: samples

#2626 fix: set the default mongo port to be the actual mongo port
  compute/quickstart/compute_quickstart_sample.go
Labels: samples

#2676 chore: update infra to 1.19
  .github/renovate.json
  .github/workflows/go.yaml
  media/transcoder/create_job_with_embedded_captions.go
  media/transcoder/create_job_with_standalone_captions.go
  media/videostitcher/create_live_session.go
  testing/cloudbuild/cloudbuild.yaml
  testing/docker/README.md
  testing/docker/cloudbuild.yaml
  testing/kokoro/latest-version.cfg
Labels: samples

#2687 test(firestore): extend duration before timeout on TestListenChanges
  firestore/listen_test.go
Labels: automerge, api: firestore, samples

#2699 chore(pubsub): up version of cloud.google.com/go/pubsub
  pubsub/go.mod
  pubsub/go.sum
Labels: automerge, cla: yes, api: pubsub, samples

#2704 docs: clears up difference of go from other languages
  run/pubsub/main.go
Labels: samples

#2705 refactor(storage): additional metadata output in CDR sample
  storage/buckets/buckets_test.go
  storage/buckets/create_bucket_dual_region.go
Labels: api: storage, samples

#2703 feat(asset): Add get effective iam policies go lib sample code.
  asset/go.mod
  asset/go.sum
  asset/quickstart/batch-get-effective-iam-policies/main.go
  asset/quickstart/batch-get-effective-iam-policies/main_test.go
Labels: api: cloudasset, samples

#2692 feat(dataflow): Add Go Flex Template example
  badfiles_test.go
  dataflow/flex-templates/wordcount/Dockerfile
  dataflow/flex-templates/wordcount/README.md
  dataflow/flex-templates/wordcount/metadata.json
  dataflow/flex-templates/wordcount/wordcount.go
  dataflow/flex-templates/wordcount/wordcount_test.go
  dataflow/go.mod
  dataflow/go.sum
Labels: api: dataflow, samples
