Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-10, with the labels that each got.

#2723 feat(storagetransfer): Add S3 compatible transfer sample
  storagetransfer/go.mod
  storagetransfer/go.sum
  storagetransfer/storagetransfer_test.go
  storagetransfer/transfer_from_s3_compatible_source.go
Labels: api: storagetransfer, samples

#2719 feat(spanner): add support for CMMR phase 2
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_create_instance_config.go
  spanner/spanner_snippets/spanner/spanner_delete_instance_config.go
  spanner/spanner_snippets/spanner/spanner_list_instance_config_operations.go
  spanner/spanner_snippets/spanner/spanner_update_instance_config.go
Labels: api: spanner, samples

#2733 fix(pubsub): remove references to deprecated Synchronous field
  pubsub/subscriptions/pull_concurrency.go
  pubsub/subscriptions/pull_settings.go
Labels: api: pubsub, samples

#2730 feat(bigquery): add extract ml model sample
  bigquery/snippets/job/bigquery_extract_model.go
  bigquery/snippets/job/integration_test.go
Labels: automerge, api: bigquery, samples

#2731 feat(bigquery): add sample to insert data with complex data types
  bigquery/go.mod
  bigquery/snippets/table/bigquery_inserting_data_types.go
  bigquery/snippets/table/integration_test.go
Labels: api: bigquery, samples

#2741 chore(pubsublite): bump pubsublite version
  pubsublite/go.mod
  pubsublite/go.sum
Labels: samples, api: pubsublite

#2726 chore: update go version to 1.19
  run/helloworld/Dockerfile
  run/helloworld/go.mod
Labels: kokoro:force-run, samples

#2736 feat(batch): Initial Batch sample
  batch/create_with_container_no_mounting.go
  batch/create_with_script_no_mounting.go
  batch/delete_job.go
  batch/get_job.go
  batch/go.mod
  batch/go.sum
  batch/job_basics_test.go
  batch/list_jobs.go
Labels: samples, api: batch

#2743 feat(batch): Batch task samples
  batch/get_task.go
  batch/go.mod
  batch/go.sum
  batch/job_basics_test.go
  batch/list_tasks.go
Labels: samples, api: batch
