Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-09, with the labels that each got.

#2698 docs(translate): add granular markers to v3 translate api for code sample extraction
  translate/v3/translate_text.go
Labels: api: translate, samples

#2712 test(bigquery): update test to unblock cloud-go build
  bigquery/bigquery_analyticshub_quickstart/main.go
  bigquery/go.mod
  bigquery/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
Labels: api: bigquery, samples

#2710 feat(bigquery): add arrow row format example
  bigquery/bigquery_storage_quickstart/main.go
  bigquery/go.mod
  bigquery/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
Labels: api: bigquery, samples

#2697 feat(compute): add Go sample for creating a VM instance with a local SSD
  compute/instances/create-start-instance/create_instance_test.go
  compute/instances/create-start-instance/create_instance_with_local_ssd.go
Labels: api: compute, samples

#2713 feat: Add snippets for Spanner DML with returning clause
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/pg_spanner_dml_delete_returning.go
  spanner/spanner_snippets/spanner/pg_spanner_dml_insert_returning.go
  spanner/spanner_snippets/spanner/pg_spanner_dml_update_returning.go
  spanner/spanner_snippets/spanner/spanner_create_database.go
  spanner/spanner_snippets/spanner/spanner_dml_delete_returning.go
  spanner/spanner_snippets/spanner/spanner_dml_insert_returning.go
  spanner/spanner_snippets/spanner/spanner_dml_update_returning.go
Labels: samples

#2715 feat(iam): add iam deny samples
  iam/deny/create_deny_policy.go
  iam/deny/delete_deny_policy.go
  iam/deny/deny_policy_test.go
  iam/deny/get_deny_policy.go
  iam/deny/list_deny_policies.go
  iam/deny/update_deny_policy.go
  iam/go.mod
  iam/go.sum
Labels: api: iam, samples

#2716 feat(bigquery): add table exists sample
  bigquery/snippets/table/bigquery_table_exists.go
  bigquery/snippets/table/integration_test.go
Labels: automerge, api: bigquery, samples

#2718 cloudsql: update sample App Engine yaml and README
  cloudsql/mysql/database-sql/README.md
  cloudsql/mysql/database-sql/cmd/app/app.standard.yaml
  cloudsql/postgres/database-sql/README.md
  cloudsql/postgres/database-sql/cmd/app/app.standard.yaml
  cloudsql/sqlserver/database-sql/README.md
  cloudsql/sqlserver/database-sql/cmd/app/app.standard.yaml
Labels: samples

#2706 feat(auth): add auth samples
  auth/auth_test.go
  auth/authenticate_explicit_with_adc.go
  auth/authenticate_implicit_with_adc.go
  auth/id_token_from_impersonated_credentials.go
  auth/id_token_from_metadata_server.go
  auth/id_token_from_service_account.go
  auth/snippets.go
  auth/verify_google_id_token.go
Labels: samples

#2720 build: fix iam due to breaking changes
  iam/go.mod
  iam/go.sum
Labels: automerge, samples

#2717 docs(cloudnl): update classification sample to use v2 model
  language/analyze/analyze.go
  language/go.mod
  language/go.sum
Labels: samples

#2725 docs(videostitcher): fix region tag prefix
  media/videostitcher/create_cdn_key.go
  media/videostitcher/create_live_session.go
  media/videostitcher/create_slate.go
  media/videostitcher/create_vod_session.go
  media/videostitcher/delete_cdn_key.go
  media/videostitcher/delete_slate.go
  media/videostitcher/get_cdn_key.go
  media/videostitcher/get_live_ad_tag_detail.go
  media/videostitcher/get_live_session.go
  media/videostitcher/get_slate.go
  media/videostitcher/get_vod_ad_tag_detail.go
  media/videostitcher/get_vod_session.go
  media/videostitcher/get_vod_stitch_detail.go
  media/videostitcher/list_cdn_keys.go
  media/videostitcher/list_live_ad_tag_details.go
  media/videostitcher/list_slates.go
  media/videostitcher/list_vod_ad_tag_details.go
  media/videostitcher/list_vod_stitch_details.go
  media/videostitcher/update_cdn_key.go
  media/videostitcher/update_slate.go
Labels: samples, api: videostitcher
