Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2022-04, with the labels that each got.

#2366 feat(spanner): add spanner_copy_backup sample and changes to spanner_update_ba…
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_copy_backup.go
  spanner/spanner_snippets/spanner/spanner_list_backup_operations.go
  spanner/spanner_snippets/spanner/spanner_update_backup.go
Labels: api: spanner, samples

#2502 chore(speech): fix go vet errors
  speech/caption/caption.go
  speech/captionasync/captionasync.go
  speech/wordoffset/wordoffset.go
Labels: api: speech, samples

#2499 chore(cloudsql): add note about secret manager to all
  cloudsql/mysql/database-sql/connect_connector.go
  cloudsql/mysql/database-sql/connect_unix.go
  cloudsql/postgres/database-sql/connect_connector.go
  cloudsql/postgres/database-sql/connect_tcp.go
  cloudsql/postgres/database-sql/connect_unix.go
  cloudsql/sqlserver/database-sql/connect_connector.go
  cloudsql/sqlserver/database-sql/connect_tcp.go
Labels: api: cloudsql, samples

#2498 feat(storage): add sample for creating a dual-region bucket
  storage/buckets/buckets_test.go
  storage/buckets/create_bucket_dual_region.go
Labels: api: storage, samples

#2503 chore(functions/ci_cd): update Go version to 1.16
  functions/ci_cd/cloudbuild.yaml
Labels: automerge

#2504 chore: bump storage dependencies to v1.22.0
  appengine/go11x/warmup/go.mod
  appengine/go11x/warmup/go.sum
  appengine_flexible/go.mod
  appengine_flexible/go.sum
  auth/go.mod
  auth/go.sum
  bigquery/go.mod
  bigquery/go.sum
  compute/go.mod
  compute/go.sum
  datacatalog/go.mod
  datacatalog/go.sum
  dataproc/go.mod
  dataproc/go.sum
  dlp/go.mod
  dlp/go.sum
  docs/go.mod
  docs/go.sum
  functions/imagemagick/go.mod
  functions/imagemagick/go.sum
  functions/ocr/app/go.mod
  functions/ocr/app/go.sum
  functions/tips/go.mod
  functions/tips/go.sum
  getting-started/bookshelf/go.mod
  getting-started/bookshelf/go.sum
  getting-started/gopher-run/go.mod
  getting-started/gopher-run/go.sum
  go.mod
  go.sum
  media/go.mod
  media/go.sum
  profiler/shakesapp/go.mod
  profiler/shakesapp/go.sum
  run/image-processing/go.mod
  run/image-processing/go.sum
  run/testing/go.mod
  run/testing/go.sum
  spanner/go.mod
  spanner/go.sum
  storage/go.mod
  storage/go.sum
  storagetransfer/go.mod
  storagetransfer/go.sum
  translate/go.mod
  translate/go.sum
  vision/go.mod
  vision/go.sum
Labels: samples

#2496 chore(functions/storage): clarify comments
  functions/helloworld/hello_cloud_storage.go
Labels: api: cloudfunctions, samples

#2507 test(iam): Add Retry to TestServiceAccounts
  iam/snippets/service_accounts_test.go
Labels: api: iam, samples

#2509 fix(docs): update mail example to use appengine/v2
  docs/appengine/mail/mail.go
  docs/appengine/mail/mailgun/mailgun.go
  docs/appengine/mail/mailjet/app.yaml
  docs/appengine/mail/mailjet/mailjet.go
  docs/appengine/mail/sendgrid/sendgrid.go
  docs/go.mod
  docs/go.sum
Labels: samples

#2511 chore(cloudsql): update comments with proper dialects
  cloudsql/mysql/database-sql/connect_tcp.go
  cloudsql/mysql/database-sql/connect_unix.go
  cloudsql/postgres/database-sql/connect_tcp.go
  cloudsql/postgres/database-sql/connect_unix.go
Labels: api: cloudsql, samples

#2512 chore(bigquery): defer client close
  bigquery/snippets/managedwriter/bigquerystorage_append_rows_pending.go
Labels: api: bigquery, samples

#2510 fix(healthcare): increase FHIR store create test retry
  healthcare/fhir_test.go
  healthcare/hl7v2_test.go
Labels: samples

#2514 chore: bump compute deps to 1.6.0
  cloudsql/mysql/database-sql/go.mod
  cloudsql/mysql/database-sql/go.sum
  cloudsql/postgres/database-sql/go.mod
  cloudsql/postgres/database-sql/go.sum
  compute/go.mod
  compute/go.sum
  functions/functionsv2/label_gce_instance/go.mod
  functions/functionsv2/label_gce_instance/go.sum
  getting-started/authenticating-users/go.mod
  getting-started/authenticating-users/go.sum
  run/go.mod
  run/go.sum
  run/logging-manual/go.mod
  run/logging-manual/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: samples

#2515 test(iam): Add Retry to TestServiceAccounts (2nd attempt)
  iam/snippets/service_accounts_test.go
Labels: api: iam, samples

#2516 fix(bigquery/storage): handle retryable RESOURCE_EXHAUSTED errors in bigquery storage sample
  bigquery/bigquery_storage_quickstart/main.go
Labels: api: bigquery, samples

#2517 fix: Update env vars and log filter
  internal/cloudrunci/cloudrunjobs.go
  run/jobs/main.go
  run/jobs/main_test.go
Labels: samples

#2527 chore: bump compute version
  cloudsql/mysql/database-sql/go.mod
  cloudsql/mysql/database-sql/go.sum
  cloudsql/postgres/database-sql/go.mod
  cloudsql/postgres/database-sql/go.sum
  compute/go.mod
  compute/go.sum
  functions/functionsv2/label_gce_instance/go.mod
  functions/functionsv2/label_gce_instance/go.sum
  getting-started/authenticating-users/go.mod
  getting-started/authenticating-users/go.sum
  run/go.mod
  run/go.sum
  run/logging-manual/go.mod
  run/logging-manual/go.sum
  spanner/go.mod
  spanner/go.sum
Labels: samples

#2532 chore(functions/ocr/app): Relax test expectation to prevent flakes
  functions/ocr/app/ocr_test.go
Labels: api: cloudfunctions, samples

#2526 feat(spanner): add sample for STORING indexes on a Spanner PostgreSQL database
  spanner/spanner_snippets/snippet.go
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/pg_spanner_create_storing_index.go
Labels: api: spanner, samples

#2531 chore(cloudsql): update variable name in READMEs
  cloudsql/mysql/database-sql/README.md
  cloudsql/mysql/database-sql/cloudsql.go
  cloudsql/mysql/database-sql/cloudsql_test.go
  cloudsql/postgres/database-sql/README.md
  cloudsql/postgres/database-sql/cloudsql.go
  cloudsql/postgres/database-sql/cloudsql_test.go
  cloudsql/sqlserver/database-sql/cloudsql_test.go
Labels: api: cloudsql, samples

#2539 chore(cloudsql): update naming to be consistent
  cloudsql/mysql/database-sql/README.md
  cloudsql/mysql/database-sql/cmd/app/app.flexible.yaml
  cloudsql/mysql/database-sql/cmd/app/app.standard.yaml
  cloudsql/postgres/database-sql/README.md
  cloudsql/postgres/database-sql/cmd/app/app.flexible.yaml
  cloudsql/postgres/database-sql/cmd/app/app.standard.yaml
  cloudsql/sqlserver/database-sql/README.md
  cloudsql/sqlserver/database-sql/cmd/app/app.standard.yaml
Labels: api: cloudsql, samples

#2524 feat(compute): add custom-machine-type helper class
  compute/instances/custom-machine-type/helper_class.go
  compute/instances/custom-machine-type/helper_class_test.go
Labels: api: compute, samples

#2544 fix(pubsub): prevent race condition in sample
  pubsub/topics/publish.go
  pubsub/topics/publish_flow_control.go
Labels: api: pubsub, samples

#2545 feat(compute): add compute_machine_type samples 2
  compute/instances/custom-machine-type/create_custom_machine_type.go
  compute/instances/custom-machine-type/create_shared_with_helper.go
  compute/instances/custom-machine-type/create_with_helper.go
  compute/instances/custom-machine-type/custom_machine_type_test.go
Labels: api: compute, samples

#2546 chore(bigquery): switch bigquery query snippets to direct iterator
  bigquery/snippets/querying/bigquery_query.go
  bigquery/snippets/querying/bigquery_query_clustered_table.go
  bigquery/snippets/querying/bigquery_query_destination_table.go
  bigquery/snippets/querying/bigquery_query_destination_table_cmek.go
  bigquery/snippets/querying/bigquery_query_legacy.go
  bigquery/snippets/querying/bigquery_query_legacy_large_results.go
  bigquery/snippets/querying/bigquery_query_no_cache.go
  bigquery/snippets/querying/bigquery_query_params_arrays.go
  bigquery/snippets/querying/bigquery_query_params_named.go
  bigquery/snippets/querying/bigquery_query_params_positional.go
  bigquery/snippets/querying/bigquery_query_params_structs.go
  bigquery/snippets/querying/bigquery_query_params_timestamps.go
  bigquery/snippets/querying/bigquery_query_partitioned_table.go
Labels: api: bigquery, samples

#2525 feat(compute): add windows os image sample
  compute/instances/windows/create-os-image/create_windows_os_image.go
  compute/instances/windows/create-os-image/create_windows_os_image_test.go
  compute/instances/windows/create-os-image/utils_test.go
Labels: api: compute, samples

#2540 feat(compute): add create manage windows instances samples
  compute/instances/create-manage-windows-instances/create_firewall_rule_for_windows_activation_host.go
  compute/instances/create-manage-windows-instances/create_route_to_windows_activation_host.go
  compute/instances/create-manage-windows-instances/create_windows_instances_test.go
  compute/instances/create-manage-windows-instances/create_windows_server_external_ip.go
  compute/instances/create-manage-windows-instances/create_windows_server_internal_ip.go
  compute/instances/create-manage-windows-instances/get_instance_serial_port.go
  compute/instances/preventing-accidental-vm-deletion/create_instance.go
Labels: api: compute, samples
