Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-10, with the labels that each got.

#3324 fix(functions): new region tag for 1st gen functions sample
  functions/helloworld/hello_world.go
Labels: api: cloudfunctions, samples

#3338 fix(pubsub): fix cloud storage subscription region tag
  pubsub/subscriptions/create_cloud_storage_subscription.go
Labels: api: pubsub, samples

#3347 fix: refactor spanner delete_data sample
  spanner/spanner_snippets/spanner/spanner_delete_data.go
Labels: kokoro:force-run, samples

#3339 chore: remove justin-mp from /mediacdn CODEOWNERS
  .github/CODEOWNERS
Labels: samples

#3305 feat: convert slates to LROs and add separate tests for each slate sa…
  media/go.mod
  media/go.sum
  media/videostitcher/create_cdn_key.go
  media/videostitcher/create_cdn_key_akamai.go
  media/videostitcher/create_live_session.go
  media/videostitcher/create_slate.go
  media/videostitcher/create_slate_test.go
  media/videostitcher/delete_cdn_key.go
  media/videostitcher/delete_slate.go
  media/videostitcher/delete_slate_test.go
  media/videostitcher/get_slate_test.go
  media/videostitcher/list_slates_test.go
  media/videostitcher/stitcher_test.go
  media/videostitcher/update_slate.go
  media/videostitcher/update_slate_test.go
Labels: automerge, samples, api: videostitcher

#3312 feat(trace): add opentelemetry instrumentation example
  opentelemetry/instrumentation/app/Dockerfile
  opentelemetry/instrumentation/app/client.go
  opentelemetry/instrumentation/app/go.mod
  opentelemetry/instrumentation/app/go.sum
  opentelemetry/instrumentation/app/logger.go
  opentelemetry/instrumentation/app/main.go
  opentelemetry/instrumentation/app/main_test.go
  opentelemetry/instrumentation/app/server.go
  opentelemetry/instrumentation/app/setup.go
  opentelemetry/instrumentation/docker-compose.yaml
  opentelemetry/instrumentation/otel-collector-config.yaml
  opentelemetry/trace/go.mod
  opentelemetry/trace/go.sum
Labels: api: cloudtrace, samples

#3296 testing(run): add retries to Markdown Preview sample app tests
  run/testing/markdown_preview_editor.e2e_test.go
  run/testing/markdown_preview_renderer.e2e_test.go
Labels: api: run, samples

#3342 fix(dlp): Separated a tests files of samples for deid package (PR-3 for deid)
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/deid_time_extract_test.go
  dlp/snippets/deid/deid_with_exception_list_test.go
  dlp/snippets/deid/deid_with_redact_test.go
  dlp/snippets/deid/mark_test.go
  dlp/snippets/deid/reid_fpe.go
  dlp/snippets/deid/reid_fpe_test.go
  dlp/snippets/deid/reid_free_text_with_fpe_using_surrogate_test.go
  dlp/snippets/deid/reid_table_fpe_test.go
  dlp/snippets/deid/reid_text_fpe_test.go
  dlp/snippets/deid/reid_with_deterministic_test.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3331 fix(dlp): Separated a tests files of samples for `redact` package
  dlp/snippets/redact/redact_image_all_infotypes_test.go
  dlp/snippets/redact/redact_image_all_text_test.go
  dlp/snippets/redact/redact_image_colored_infotypes_test.go
  dlp/snippets/redact/redact_image_listed_infotypes_test.go
  dlp/snippets/redact/redact_image_test.go
  dlp/snippets/redact/redact_test.go
Labels: api: dlp, samples

#3444 fix(compute): Updating Windows image version in tests
  compute/instances/windows/create-os-image/create_windows_os_image_test.go
Labels: api: compute, samples

#3345 fix(dlp): Separated a tests files of samples for `inspect` package (PR-3 for inspect)
  dlp/snippets/inspect/inspect_string_omit_overlap_test.go
  dlp/snippets/inspect/inspect_string_test.go
  dlp/snippets/inspect/inspect_string_with_exclusion_dict_substring_test.go
  dlp/snippets/inspect/inspect_string_with_exclusion_dict_test.go
  dlp/snippets/inspect/inspect_string_with_exclusion_regex_test.go
  dlp/snippets/inspect/inspect_string_without_overlap_test.go
  dlp/snippets/inspect/inspect_table_test.go
  dlp/snippets/inspect/inspect_test.go
  dlp/snippets/inspect/inspect_text_file_test.go
  dlp/snippets/inspect/inspect_with_custom_regex_test.go
  dlp/snippets/inspect/inspect_with_stored_infotype_test.go
Labels: api: dlp, samples

#3329 fix(dlp): Separated a tests files of samples for `jobs` package
  dlp/snippets/jobs/create_test.go
  dlp/snippets/jobs/delete_test.go
  dlp/snippets/jobs/get_test.go
  dlp/snippets/jobs/jobs_test.go
  dlp/snippets/jobs/list_test.go
Labels: api: dlp, samples

#3330 fix(dlp): Separated a tests files of samples for `metadata` package
  dlp/snippets/metadata/create_stored_infotype_test.go
  dlp/snippets/metadata/info_types_test.go
  dlp/snippets/metadata/metadata_test.go
  dlp/snippets/metadata/update_stored_infotype_test.go
Labels: api: dlp, samples

#3451 feat(spanner): add samples for autoscaler instances
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_create_instance_with_autoscaling_config.go
Labels: api: spanner, samples

#3456 fix(renovate): allow renovate to determine go version
  .github/renovate.json
Labels: samples

#3332 fix(dlp): Separated a tests files of samples for `risk` package
  dlp/snippets/risk/categorical_test.go
  dlp/snippets/risk/k_anonymity_test.go
  dlp/snippets/risk/k_anonymity_with_entity_id_test.go
  dlp/snippets/risk/k_map_test.go
  dlp/snippets/risk/l_diversirty_test.go
  dlp/snippets/risk/numerical_test.go
  dlp/snippets/risk/risk_test.go
Labels: api: dlp, samples

#3333 fix(dlp): Separated a tests files of samples for `template` package
  dlp/snippets/template/create_test.go
  dlp/snippets/template/delete_test.go
  dlp/snippets/template/list_test.go
  dlp/snippets/template/template_test.go
Labels: api: dlp, samples

#3334 fix(dlp): Separated a tests files of samples for `trigger` package
  dlp/snippets/trigger/create_test.go
  dlp/snippets/trigger/delete_test.go
  dlp/snippets/trigger/list_test.go
  dlp/snippets/trigger/trigger_test.go
  dlp/snippets/trigger/update_test.go
Labels: api: dlp, samples

#3341 fix(dlp): Separated a tests files of samples for `deid` package (PR-2 for deid)
  dlp/snippets/deid/deid_table_bucketing_test.go
  dlp/snippets/deid/deid_table_condition_infotypes_test.go
  dlp/snippets/deid/deid_table_condition_masking_test.go
  dlp/snippets/deid/deid_table_fpe_test.go
  dlp/snippets/deid/deid_table_infotypes_test.go
  dlp/snippets/deid/deid_table_primitive_bucketing_test.go
  dlp/snippets/deid/deid_table_row_suppress_test.go
  dlp/snippets/deid/deid_table_with_crypto_hash_test.go
  dlp/snippets/deid/deid_table_with_multiple_crypto_hash_test.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3548 feat: use autoexport to create the OpenTelemetry metric exporter
  opentelemetry/instrumentation/app/go.mod
  opentelemetry/instrumentation/app/go.sum
  opentelemetry/instrumentation/app/setup.go
Labels: samples
