Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-06, with the labels that each got.

#3156 fix(run/testing): add retries to hello_broken tests
  run/testing/hello_broken.e2e_test.go
Labels: api: run, samples

#3154 feat(functions): Add new sample for response streaming in Golang
  functions/functionsv2/response_streaming/go.mod
  functions/functionsv2/response_streaming/go.sum
  functions/functionsv2/response_streaming/response_streaming.go
  functions/functionsv2/response_streaming/response_streaming_test.go
Labels: api: cloudfunctions, samples

#3158 docs(bigquery): fix typo
  bigquery/snippets/table/bigquery_table_exists.go
Labels: api: bigquery, samples

#3026 fix(compute/disks): don't fail tests in case of not found disks during deletion
  compute/disks/disks_test.go
Labels: api: compute, samples

#3160 feat(run): Add service name detection to custom metrics example
  run/custom-metrics/go.mod
  run/custom-metrics/main.go
Labels: api: run, samples

#3140 chore(fixit): Go Error Visibility for internal
  internal/aeintegrate/aeintegrate.go
  internal/cleanaeversions/cleanaeversions.go
  internal/cloudrunci/cloudrunci.go
  internal/cloudrunci/cloudrunjobs.go
  internal/testutil/runmain.go
  internal/testutil/storage_cleaner.go
Labels: samples

#3144 fix(dialogflow): migrate existing go sample from internal reference
  dialogflow/basic_webhook/webhook.go
  dialogflow/basic_webhook/webhook_test.go
Labels: samples

#3148 feat(dlp): added a sample for dlp deidentify deterministic
  dlp/go.mod
  dlp/go.sum
  dlp/snippets/deid/deid_deterministic.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3149 feat(dlp): added a sample for dlp redact image all text
  dlp/snippets/redact/redact_image_all_text.go
  dlp/snippets/redact/redact_test.go
  dlp/snippets/redact/testdata/image.jpg
Labels: api: dlp, samples

#3150 feat(dlp): added a sample for dlp redact image listed infotypes
  dlp/snippets/redact/redact_image_listed_infotypes.go
  dlp/snippets/redact/redact_test.go
Labels: api: dlp, samples

#3151 feat(dlp): added a sample for dlp redact image colored infotypes
  dlp/snippets/deid/deid_table_row_suppress.go
  dlp/snippets/redact/redact_image_colored_infotypes.go
  dlp/snippets/redact/redact_test.go
Labels: api: dlp, samples

#3152 feat(dlp): added a sample for dlp redact image all infotypes
  dlp/snippets/redact/redact_image_all_infotypes.go
  dlp/snippets/redact/redact_test.go
Labels: api: dlp, samples

#3171 test(storage): add retry for Notifications test
  storage/notifications/notifications_test.go
Labels: automerge, api: storage, samples

#3165 feat(dlp): added a sample for dlp deidentify free text with fpe using surrogate
  dlp/snippets/deid/deid_free_text_with_fpe_using_surrogate.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3163 chore: remove torus blunderbuss
  .github/blunderbuss.yml
Labels: samples

#3173 fix: Update CODEOWNERS with tiers for functions/appengine
  .github/CODEOWNERS
Labels: samples

#3170 feat(dlp): added a sample for dlp inspect gcs with sampling
  dlp/snippets/inspect/inspect_gcs_with_sampling.go
  dlp/snippets/inspect/inspect_test.go
Labels: automerge, api: dlp, samples

#3169 feat(dlp): added a sample for dlp deidentify table fpe
  dlp/snippets/deid/deid_table_fpe.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3166 feat(dlp): added a sample for dlp deidentify replace infotype
  dlp/snippets/deid/deid_replace_infotype.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3168 feat(dlp): added a sample for dlp inspect bigquery with sampling
  dlp/snippets/inspect/inspect_bigquery_with_sampling.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3179 feat(eventarc): update sample to use CloudEvent SDK
  eventarc/audit_storage/go.mod
  eventarc/audit_storage/go.sum
  eventarc/audit_storage/main.go
  eventarc/audit_storage/main_test.go
Labels: samples, api: eventarc

#3189 feat(pubsub): add publish retry sample
  pubsub/go.mod
  pubsub/go.sum
  pubsub/topics/publish_retry.go
  pubsub/topics/topics_test.go
Labels: api: pubsub, samples

#3184 feat(functions): create new sample for typed function signature
  functions/typed/greeting/go.mod
  functions/typed/greeting/go.sum
  functions/typed/greeting/greeting.go
  functions/typed/greeting/greeting_test.go
Labels: automerge, api: cloudfunctions, samples
