Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-03, with the labels that each got.

#2869 feat(appengine): Add GAE Flex preview samples for analytics and datastore
  appengine_flexible/preview/analytics/analytics.go
  appengine_flexible/preview/analytics/app.yaml
  appengine_flexible/preview/analytics/go.mod
  appengine_flexible/preview/analytics/go.sum
  appengine_flexible/preview/datastore/app.yaml
  appengine_flexible/preview/datastore/datastore.go
  appengine_flexible/preview/datastore/go.mod
  appengine_flexible/preview/datastore/go.sum
Labels: api: appengine, samples

#2899 fix(vet): correct vet errors and disable tests broken by it
  dlp/snippets/deid/deid_test.go
  dlp/snippets/inspect/inspect_test.go
  dlp/snippets/metadata/metadata_test.go
  dlp/snippets/redact/redact_test.go
  dlp/snippets/risk/risk_test.go
  vision/detect/detect_test.go
Labels: samples

#2887 fix(cloudsql): remove duplicate leading slash
  cloudsql/mysql/database-sql/connect_unix.go
  dlp/snippets/deid/deid_test.go
Labels: api: cloudsql, samples

#2774 feat(datastore): adds not equal, in, not-in
  datastore/snippets/query_in.go
  datastore/snippets/query_neq.go
  datastore/snippets/query_not_in.go
  datastore/snippets/query_test.go
Labels: api: datastore, samples

#2902 fix(vision): changes assert for crop sample test
  vision/detect/detect_test.go
Labels: api: vision, samples

#2875 chore(all): update CODEOWNERS
  .github/CODEOWNERS
Labels: type: cleanup, samples

#2905 chore(functions/functionsv2/tips/retry): create cloud event sample from background function sample
  functions/functionsv2/tips/go.mod
  functions/functionsv2/tips/go.sum
  functions/functionsv2/tips/retry.go
  functions/functionsv2/tips/retry_test.go
Labels: api: cloudfunctions, samples

#2904 fix: Add missing product region tags for Cloud CDN snippets
  cdn/signedcookies/sign_cookie.go
  cdn/signedurls/signurl.go
Labels: samples

#2888 feat(Transcoder): update captions code samples for display name and l…
  media/transcoder/create_job_with_embedded_captions.go
  media/transcoder/create_job_with_standalone_captions.go
  media/transcoder/transcoder_test.go
Labels: samples, api: transcoder

#2913 chore: cleanup un-wanted region tags
  cdn/signedcookies/sign_cookie.go
  cdn/signedurls/signurl.go
Labels: samples

#2925 chore(vision): Disabled flaky Product Search tests
  vision/product_search/get_similar_products_test.go
  vision/product_search/get_similar_products_uri_test.go
  vision/product_search/get_similar_products_uri_with_filter_test.go
Labels: api: vision, samples

#2921 feat(appengine): Migrate datastore flex to new path
  appengine_flexible/datastore/app.yaml
  appengine_flexible/datastore/go.mod
  appengine_flexible/datastore/go.sum
  appengine_flexible/go.mod
  appengine_flexible/go.sum
  appengine_flexible/preview/datastore/app.yaml
  appengine_flexible/preview/datastore/datastore.go
Labels: automerge, api: appengine, samples

#2908 feat(appengine): Migrate helloworld flex to new path
  appengine_flexible/helloworld/app.yaml
  appengine_flexible/helloworld/go.mod
  appengine_flexible/preview/helloworld/app.yaml
  appengine_flexible/preview/helloworld/helloworld.go
Labels: automerge, api: appengine, samples

#2927 feat(firestore): adds COUNT aggregate query sample
  firestore/aggregate_query_count.go
  firestore/aggregate_query_count_test.go
Labels: automerge, api: firestore, samples

#2922 chore(all): golang.org/x/net updates for dependabot alerts
  appengine/go11x/warmup/go.mod
  appengine/go11x/warmup/go.sum
  appengine_flexible/datastore/go.mod
  appengine_flexible/datastore/go.sum
  appengine_flexible/go.mod
  appengine_flexible/go.sum
  appengine_flexible/preview/analytics/go.mod
  appengine_flexible/preview/analytics/go.sum
  cloudsql/mysql/database-sql/go.mod
  cloudsql/mysql/database-sql/go.sum
  cloudsql/postgres/database-sql/go.mod
  cloudsql/postgres/database-sql/go.sum
  cloudsql/sqlserver/database-sql/go.mod
  cloudsql/sqlserver/database-sql/go.sum
  dataflow/go.mod
  dataflow/go.sum
  getting-started/background/go.mod
  getting-started/background/go.sum
  getting-started/sessions/go.mod
  getting-started/sessions/go.sum
  internal/cloudrunci/testingapp/go.mod
  internal/cloudrunci/testingapp/go.sum
  language/go.mod
  language/go.sum
  opencensus/go.mod
  opencensus/go.sum
  opentelemetry/go.mod
  opentelemetry/go.sum
Labels: samples

#2933 fix(testing): extend wait time between attempts
  securitycenter/findings/findings_test.go
Labels: samples

#2930 chore(deps): update golang.org/x/net -> v0.8.0
  appengine_flexible/go115_and_earlier/go.mod
  appengine_flexible/go115_and_earlier/go.sum
  eventarc/testing/go.mod
  eventarc/testing/go.sum
  functions/bigtable/go.mod
  functions/bigtable/go.sum
  functions/firebase/upper/go.mod
  functions/firebase/upper/go.sum
  functions/functionsv2/imagemagick/go.mod
  functions/functionsv2/imagemagick/go.sum
  functions/functionsv2/ocr/app/go.mod
  functions/functionsv2/ocr/app/go.sum
  functions/imagemagick/go.mod
  functions/imagemagick/go.sum
  functions/ocr/app/go.mod
  functions/ocr/app/go.sum
  functions/tips/contexttip/go.mod
  functions/tips/contexttip/go.sum
  functions/tips/go.mod
  functions/tips/go.sum
  profiler/go.mod
  profiler/go.sum
  run/grpc-server-streaming/go.mod
  run/grpc-server-streaming/go.sum
  run/h2c/go.mod
  run/h2c/go.sum
  run/image-processing/go.mod
  run/image-processing/go.sum
  servicedirectory/go.mod
  servicedirectory/go.sum
  speech/go.mod
  speech/go.sum
  storagetransfer/go.mod
  storagetransfer/go.sum
  tasks/go.mod
  tasks/go.sum
  texttospeech/go.mod
  texttospeech/go.sum
  trace/go.mod
  trace/go.sum
  videointelligence/go.mod
  videointelligence/go.sum
Labels: samples

#2934 chore(datastore): updates Filter to FilterField
  datastore/snippets/snippet_test.go
Labels: automerge, api: datastore, samples

#2936 fix(appengine): fix wrong version in datastore flex
  appengine_flexible/datastore/app.yaml
Labels: automerge, api: appengine, samples

#2935 feat(appengine): Migrate analytics flex to new path
  appengine_flexible/analytics/app.yaml
  appengine_flexible/analytics/go.mod
  appengine_flexible/analytics/go.sum
  appengine_flexible/go.mod
  appengine_flexible/go.sum
  appengine_flexible/preview/analytics/analytics.go
  appengine_flexible/preview/analytics/app.yaml
Labels: api: appengine, samples

#2911 chore(functions/helloworld/hello_logging): Use http declarative signature
  functions/helloworld/hello_logging.go
Labels: api: cloudfunctions, samples
