Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-07, with the labels that each got.

#3181 feat(dlp): added a sample for dlp deidentify reidentify deterministic
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/reid_with_deterministic.go
Labels: api: dlp, samples

#3185 feat(dlp): added a sample for dlp reidentify table fpe
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/reid_table_fpe.go
Labels: automerge, kokoro:force-run, api: dlp, samples

#3187 feat(dlp): added a sample for dlp deidentify time extract
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/deid_time_extract.go
Labels: automerge, api: dlp, samples

#3194 docs(scc-samples): update comments to include new parent resource types
  securitycenter/assets/add_delete_security_marks.go
  securitycenter/assets/add_security_marks.go
  securitycenter/assets/delete_security_marks.go
  securitycenter/assets/list_all_assets.go
  securitycenter/assets/list_all_project_assets.go
  securitycenter/assets/list_assets_with_security_marks.go
  securitycenter/assets/list_project_assets_and_state_changes.go
  securitycenter/assets/list_project_assets_at_time.go
  securitycenter/findings/add_security_marks.go
  securitycenter/findings/list_all_findings.go
  securitycenter/findings/list_filtered_findings.go
  securitycenter/findings/list_findings_at_time.go
  securitycenter/findings/list_findings_with_security_mark.go
  securitycenter/findings/list_sources.go
  securitycenter/notifications/create_notification_config.go
  securitycenter/notifications/delete_notification_config.go
  securitycenter/notifications/get_notification_config.go
  securitycenter/notifications/list_notification_configs.go
  securitycenter/notifications/update_notification_config.go
Labels: samples

#3183 feat(eventarc): add sample for unmarshalling Cloud Storage event
  eventarc/storage_handler/go.mod
  eventarc/storage_handler/go.sum
  eventarc/storage_handler/handler.go
  eventarc/storage_handler/handler_test.go
  eventarc/storage_handler/main.go
Labels: samples, api: eventarc

#3199 testing(eventarc): fix TestAuditStorageSinkService failure
  eventarc/audit_storage/main.go
Labels: samples, api: eventarc

#3203 chore: add DLP data ignore to bad_files_test
  badfiles_test.go
Labels: samples

#3201 chore: remove refs to deprecated io/ioutil
  internal/aeintegrate/aeintegrate.go
  internal/e2e/standard_test.go
  internal/testutil/runmain.go
Labels: samples

#3186 feat(dlp): added a sample for dlp reidentify fpe
  dlp/snippets/deid/deid_fpe.go
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/reid_text_fpe.go
Labels: api: dlp, samples

#3207 fix(eventarc): update e2e tests to send proper payload
  eventarc/testing/audit_storage.e2e_test.go
  eventarc/testing/go.mod
  eventarc/testing/go.sum
Labels: samples, api: eventarc

#3197 feat(dlp): added a sample for dlp_deidentify_table_with_crypto_hash
  dlp/snippets/deid/deid_table_with_crypto_hash.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#3198 feat(dlp): added a sample for dlp_deidentify_table_with_multiple_crypto_hash
  dlp/snippets/deid/deid_table_with_multiple_crypto_hash.go
  dlp/snippets/deid/deid_test.go
Labels: kokoro:force-run, api: dlp, samples

#3191 feat(dlp): added a sample for dlp create stored infotype
  dlp/snippets/metadata/create_stored_infotype.go
  dlp/snippets/metadata/metadata_test.go
Labels: api: dlp, samples

#3216 fix(functions): add retries to address flakiness
  functions/security/go.mod
  functions/security/go.sum
  functions/security/security_system_test.go
Labels: api: cloudfunctions, samples

#3155 docs(samples): Add Gen App Builder example to discoveryengine
  .github/CODEOWNERS
  discoveryengine/go.mod
  discoveryengine/go.sum
  discoveryengine/search.go
  discoveryengine/search_test.go
Labels: automerge, samples, api: discoveryengine

#3214 feat(dlp): added a sample for dlp deidentify dictionary replacement
  dlp/snippets/deid/deid_dictionary_replacement.go
  dlp/snippets/deid/deid_test.go
Labels: automerge, api: dlp, samples

#3217 feat(dlp): added a sample for dlp inspect column values with custom hotwords
  dlp/snippets/inspect/inspect_column_values_w_custom_hotwords.go
  dlp/snippets/inspect/inspect_test.go
Labels: automerge, api: dlp, samples

#3215 feat(dlp): added a sample for dlp deidentify table primitive bucketing
  dlp/snippets/deid/deid_table_primitive_bucketing.go
  dlp/snippets/deid/deid_test.go
Labels: automerge, api: dlp, samples

#3218 feat(dlp): added a sample for dlp inspect augment infotypes
  dlp/snippets/inspect/inspect_augment_infotypes.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3190 feat(pubsub): add cloud storage subscription sample
  pubsub/go.mod
  pubsub/subscriptions/create_cloud_storage_subscription.go
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, samples

#3210 feat: Memorystore data plane snippet
  memorystore/go.mod
  memorystore/go.sum
  memorystore/redis/go.mod
  memorystore/redis/go.sum
  memorystore/snippets/connect_to_db.go
  memorystore/snippets/connect_to_db_test.go
Labels: automerge, samples

#3230 fix(pubsub): fix control flow error path
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, samples
