Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-09, with the labels that each got.

#3272 fix(dlp): fixes DLP Risk snippet tests #2897
  dlp/snippets/risk/categorical.go
  dlp/snippets/risk/k_anonymity.go
  dlp/snippets/risk/k_map.go
  dlp/snippets/risk/l_diversity.go
  dlp/snippets/risk/numerical.go
  dlp/snippets/risk/risk.go
  dlp/snippets/risk/risk_test.go
Labels: api: dlp, samples

#3222 feat(dlp): added a sample for dlp inspect gcs send to scc
  dlp/snippets/inspect/inspect_gcs_send_to_scc.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3247 feat(dlp): added a sample for dlp inspect send data to hybrid job trigger
  dlp/snippets/deid/deid_test.go
  dlp/snippets/inspect/inspect_send_data_to_hybrid_job_trigger.go
  dlp/snippets/inspect/inspect_test.go
  dlp/snippets/risk/risk_test.go
Labels: api: dlp, samples

#3291 fix: refactor error reporting code sample
  errorreporting/errorreporting_quickstart/main.go
Labels: samples

#3283 feat(cloudrunci): Add retry by default to Service.Request
  internal/cloudrunci/cloudrunci.go
  run/testing/hello_broken.e2e_test.go
  run/testing/helloworld.e2e_test.go
  run/testing/image_processing.e2e_test.go
Labels: samples

#3245 feat(dlp): added a sample for dlp k anonymity with entity id
  dlp/snippets/deid/deid_test.go
  dlp/snippets/metadata/metadata_test.go
  dlp/snippets/risk/k_anonymity_with_enitity_id.go
  dlp/snippets/risk/risk_test.go
Labels: api: dlp, samples

#3241 feat(dlp): added a sample for dlp inspect bigquery send to scc
  dlp/snippets/inspect/inspect_bigquery_send_to_scc.go
  dlp/snippets/inspect/inspect_bigquery_send_to_scc_test.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3280 feat(aiplatform): Adds import dataset sample
  aiplatform/go.mod
  aiplatform/snippets/create_dataset_test.go
  aiplatform/snippets/import_data_image_classification.go
  aiplatform/snippets/import_data_image_classification_test.go
  aiplatform/snippets/test.go
  aiplatform/testdata/icn-dataset.jsonl
  badfiles_test.go
Labels: automerge, samples, api: aiplatform

#3306 chore: bump pgx version to v5
  cloudsql/postgres/database-sql/connect_connector.go
  cloudsql/postgres/database-sql/connect_connector_iam_authn.go
  cloudsql/postgres/database-sql/connect_tcp.go
  cloudsql/postgres/database-sql/connect_unix.go
  cloudsql/postgres/database-sql/go.mod
  cloudsql/postgres/database-sql/go.sum
Labels: samples

#3304 chore: downgrade flakybot issues to p2 by default
  .github/flakybot.yaml
Labels: type: cleanup, samples

#3300 docs(spanner): improve Spanner timeout sample
  spanner/spanner_snippets/spanner/spanner_set_custom_timeout_and_retry.go
Labels: api: spanner, samples

#3315 fix(security-center): increase wait time in notification test
  securitycenter/notifications/notifications_test.go
Labels: api: securitycenter, samples

#3301 fix(functions): corrected Greeting sample function signature
  functions/typed/greeting/go.mod
  functions/typed/greeting/greeting.go
  functions/typed/greeting/greeting_test.go
Labels: api: cloudfunctions, samples

#3269 feat(aiplatform): adds delete dataset sample
  aiplatform/snippets/create_dataset_test.go
  aiplatform/snippets/delete_dataset.go
  aiplatform/snippets/delete_dataset_test.go
  aiplatform/snippets/import_data_image_classification_test.go
Labels: automerge, samples, api: aiplatform
