Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-08, with the labels that each got.

#3092 feat(spanner): add bit reversed sequence samples
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/pg_spanner_alter_sequence.go
  spanner/spanner_snippets/spanner/pg_spanner_create_sequence.go
  spanner/spanner_snippets/spanner/spanner_alter_sequence.go
  spanner/spanner_snippets/spanner/spanner_create_sequence.go
  spanner/spanner_snippets/spanner/spanner_drop_sequence.go
Labels: api: spanner, samples

#3236 chore: retire IoT samples
  badfiles_test.go
  iot/README.md
  iot/go.mod
  iot/go.sum
  iot/manager/README.md
  iot/manager/manager_test.go.deprecated
  iot/mqttsnippets/gateway_send_data_test.go.deprecated
  iot/mqttsnippets/main_test.go.deprecated
  iot/mqttsnippets/subscribe_gateway_device_topic_test.go.deprecated
  iotkit/README.md
  iotkit/helloworld/README.md
Labels: samples

#3182 feat(dlp): added a sample for dlp reidentify free text with fpe using surrogate
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/reid_free_text_with_fpe_using_surrogate.go
Labels: api: dlp, samples

#3239 chore(update): Updating Windows to version 2022
  compute/instances/create-manage-windows-instances/create_windows_instances_test.go
  compute/instances/create-manage-windows-instances/create_windows_server_external_ip.go
  compute/instances/create-manage-windows-instances/create_windows_server_internal_ip.go
Labels: samples

#3235 chore: update images for cloud-profiler samples
  profiler/go.mod
  profiler/go.sum
  profiler/hotapp/Dockerfile
  profiler/hotmid/Dockerfile
Labels: samples

#3221 feat(dlp): added a sample for dlp inspect datastore send to scc
  dlp/snippets/inspect/inspect_datastore_send_to_scc.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#3231 feat(aiplatform): top level folder with initial PaLM API samples
  aiplatform/go.mod
  aiplatform/go.sum
  aiplatform/text-embeddings/embeddings.go
  aiplatform/text-embeddings/embeddings_test.go
  aiplatform/text-predict/text.go
  aiplatform/text-predict/text_test.go
Labels: samples

#3243 fix(opentelemetry): change sample to use Shutdown, and add a unit test
  opentelemetry/go.mod
  opentelemetry/go.sum
  opentelemetry/trace/main.go
  opentelemetry/trace/main_test.go
Labels: automerge, samples

#3219 feat(dlp): added a sample for dlp update trigger
  dlp/go.mod
  dlp/snippets/inspect/inspect_test.go
  dlp/snippets/trigger/delete.go
  dlp/snippets/trigger/trigger_test.go
  dlp/snippets/trigger/update.go
Labels: api: dlp, samples

#3240 docs(samples): Add assets and pools samples and tests
  media/livestream/create_asset.go
  media/livestream/delete_asset.go
  media/livestream/get_asset.go
  media/livestream/get_pool.go
  media/livestream/list_assets.go
  media/livestream/livestream_test.go
  media/livestream/update_pool.go
Labels: samples

#3244 feat(dlp): added a sample for dlp deidentify cloud storage
  dlp/snippets/deid/deid_cloud_storage.go
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/testdata/dlp_sample.csv
Labels: api: dlp, samples

#3257 fix(healthcare): specify V3 parser version when creating HL7v2 store
  healthcare/hl7v2_store_create.go
Labels: api: healthcare, samples

#3220 feat(dlp): added a sample for dlp update stored infotype
  dlp/snippets/metadata/metadata_test.go
  dlp/snippets/metadata/testdata/term_list_storedInfotype.txt
  dlp/snippets/metadata/update_stored_infotype.go
Labels: api: dlp, samples

#3261 chore(securitycenter): marks flaky test with skip
  securitycenter/findings/findings_test.go
Labels: api: securitycenter, samples

#3262 chore: update code owners to infra-db-sdk
  .github/blunderbuss.yml
Labels: samples

#3271 test(run): Add retries for flaky run tests
  run/testing/helloworld.e2e_test.go
  run/testing/pubsub.e2e_test.go
  run/testing/system_package.e2e_test.go
Labels: api: run, samples

#3266 feat(aiplatform): adds create dataset sample for Vertex
  aiplatform/snippets/create_dataset.go
  aiplatform/snippets/create_dataset_test.go
Labels: automerge, samples, api: aiplatform

#3255 feat(iam): sample for receiving Cloud Audit Logs from Service Accout Key creation
  eventarc/audit_iam/README.md
  eventarc/audit_iam/go.mod
  eventarc/audit_iam/go.sum
  eventarc/audit_iam/main.go
  eventarc/audit_iam/main_test.go
Labels: automerge, api: iam, samples
