Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2023-04, with the labels that each got.

#2945 chore(deps): golang.org/x/net -> 0.7.0 for AE Flex
  appengine_flexible/redis/go.mod
  appengine_flexible/redis/go.sum
  appengine_flexible/static_files/go.mod
  appengine_flexible/static_files/go.sum
Labels: samples

#2928 chore(functions/functionsv2/firebase/hellofirestore): new firestore trigger sample for gcf gen2
  functions/functionsv2/firebase/hellofirestore/go.mod
  functions/functionsv2/firebase/hellofirestore/go.sum
  functions/functionsv2/firebase/hellofirestore/hellofirestore.go
  functions/functionsv2/firebase/hellofirestore/hellofirestore_test.go
Labels: api: cloudfunctions, samples

#2937 feat(appengine): update pubsub, websockets flex to go1.19
  appengine_flexible/go.mod
  appengine_flexible/pubsub/app.yaml
  appengine_flexible/pubsub/go.mod
  appengine_flexible/pubsub/go.sum
  appengine_flexible/websockets/app.yaml
  appengine_flexible/websockets/go.mod
  appengine_flexible/websockets/go.sum
Labels: api: appengine, samples

#2949 fix(compute/disks): skip flaky tests, see #2929
  compute/disks/disks_test.go
Labels: api: compute, samples

#2926 chore: Update CODEOWNERS to include functions-framework-google team
  .github/CODEOWNERS
Labels: samples

#2914 chore(functions/functionsv2/tips/infinite_retries): New cloudevent sample from background functions
  functions/functionsv2/tips/infinite_retries/go.mod
  functions/functionsv2/tips/infinite_retries/go.sum
  functions/functionsv2/tips/infinite_retries/infinite_retries.go
  functions/functionsv2/tips/infinite_retries/infinite_retries_test.go
Labels: api: cloudfunctions, samples

#2950 docs(bigquery): move package declaration inside sample scope
  bigquery/simpleapp/simpleapp.go
Labels: api: bigquery, samples

#2931 chore(functions/functionsv2): Update all storage samples to use type library
  functions/functionsv2/hellostorage/go.mod
  functions/functionsv2/hellostorage/go.sum
  functions/functionsv2/hellostorage/hello_storage.go
  functions/functionsv2/hellostorage/hello_storage_test.go
  functions/functionsv2/imagemagick/go.mod
  functions/functionsv2/imagemagick/go.sum
  functions/functionsv2/imagemagick/imagemagick.go
  functions/functionsv2/imagemagick/imagemagick_test.go
  functions/functionsv2/ocr/app/go.mod
  functions/functionsv2/ocr/app/go.sum
  functions/functionsv2/ocr/app/process.go
  functions/functionsv2/ocr/app/setup.go
Labels: api: cloudfunctions, samples

#2961 docs(samples): DiskAutoDelete accepts value for the auto_delete flag
  compute/disks/disks_test.go
  compute/disks/set_disk_autodelete.go
Labels: samples

#2969 fix(videointelligence): URI tests into separate test cases
  videointelligence/video_analyze/video_analyze_test.go
Labels: api: videointelligence, samples

#2971 chore(functions/functionsv2/firebase): update firebase samples
  functions/functionsv2/firebase/remoteconfig/go.mod
  functions/functionsv2/firebase/remoteconfig/go.sum
  functions/functionsv2/firebase/remoteconfig/remoteconfig.go
  functions/functionsv2/firebase/remoteconfig/remoteconfig_test.go
  functions/functionsv2/firebase/rtdb/go.mod
  functions/functionsv2/firebase/rtdb/go.sum
  functions/functionsv2/firebase/rtdb/rtdb.go
  functions/functionsv2/firebase/rtdb/rtdb_test.go
Labels: api: cloudfunctions, samples

#2939 chore(functions/functionsv2/firebase/firebase/upper): New cloudevent sample for firestore native triggers on gen2
  functions/functionsv2/firebase/upper/go.mod
  functions/functionsv2/firebase/upper/go.sum
  functions/functionsv2/firebase/upper/upper.go
Labels: api: cloudfunctions, samples

#2973 chore: Adding issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automerge, samples

#2972 chore: add googleapis-dlp team as DLP product codeowners
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: samples

#2982 chore(functions/spanner): update spanner sample to use declarative signature
  functions/spanner/go.mod
  functions/spanner/go.sum
  functions/spanner/spanner.go
Labels: api: cloudfunctions, samples

#2942 feat(dlp): added a sample for inspect data for phone numbers
  dlp/snippets/inspect/inspect_phone_number.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2951 feat(dlp): added a sample for de-identify exception list
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/deid_with_exception_list.go
Labels: api: dlp, samples

#2944 feat(bigquery): add example of writing to default stream
  bigquery/go.mod
  bigquery/go.sum
  bigquery/snippets/managedwriter/bigquerystorage_append_rows_default.go
  bigquery/snippets/managedwriter/integration_test.go
  datacatalog/go.mod
  datacatalog/go.sum
Labels: automerge, api: bigquery, samples

#2958 feat(dlp): added a sample for inspect string with exclusion dictionary substring
  dlp/snippets/inspect/inspect_string_with_exclusion_dict_substring.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2960 feat(dlp): added a sample for inspect string custom hot word
  dlp/snippets/inspect/inspect_string_custom_hotword.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2959 feat(dlp): added a sample for inspect string omit overlap
  dlp/snippets/inspect/inspect_string_omit_overlap.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2957 feat(dlp): added a sample for inspect string with exclusion dictionary
  dlp/snippets/inspect/inspect_string_with_exclusion_dict.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2954 feat(dlp): added a sample for deidentify redact
  dlp/snippets/deid/deid_test.go
  dlp/snippets/deid/deid_with_redact.go
Labels: api: dlp, samples

#2799 fix(bigquery): eliminating memory leak by closing stream
  bigquery/snippets/managedwriter/bigquerystorage_append_rows_pending.go
Labels: api: bigquery, samples

#2955 feat(dlp): added a sample for inspect string custom omit overlap
  dlp/snippets/inspect/inspect_string_custom_omit_overlap.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2941 feat(dlp): added a sample for de-identify sensitive data with a simple word list
  dlp/snippets/deid/deid_simple_word_list.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#2979 chore: CODEOWNERS cleanup
  .github/CODEOWNERS
Labels: samples

#2952 feat(dlp): added a sample for inspect custom regex
  dlp/snippets/inspect/inspect_test.go
  dlp/snippets/inspect/inspect_with_custom_regex.go
Labels: api: dlp, samples

#2984 feat(dlp): added a sample for deidentify table bucketing
  dlp/snippets/deid/deid_table_bucketing.go
  dlp/snippets/deid/deid_test.go
Labels: api: dlp, samples

#2953 feat(dlp): added a sample for inspect hotword rule
  dlp/snippets/inspect/inspect_hotword_rule.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2956 feat(dlp): added a sample for inspect string without overlap
  dlp/snippets/inspect/inspect_string_without_overlap.go
  dlp/snippets/inspect/inspect_test.go
Labels: api: dlp, samples

#2993 fix(videointelligence): add long-period retries in tests
  videointelligence/video_analyze/video_analyze_test.go
Labels: api: videointelligence, samples

#3002 fix(blunderbuss): move Run to team alias
  .github/blunderbuss.yml
Labels: samples
