Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2024-03, with the labels that each got.

#3807 chore: add the opentelemetry team as codeowners of opentelemetry samples
  .github/CODEOWNERS
Labels: samples

#3795 test(storage): fix flaky notification creation in test
  storage/notifications/notifications_test.go
Labels: api: storage, samples

#3808 feat(spanner): add transaction timeout sample
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_transaction_timeout.go
Labels: api: spanner, samples

#3812 test(storage): unflake HMAC test again
  storage/service_account/hmac/hmac_test.go
Labels: automerge, api: storage, samples

#3846 feat(spanner): add a sample for max commit delays
  spanner/go.mod
  spanner/go.sum
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_max_commit_delay.go
Labels: api: spanner, samples

#3765 fix(dlp): Correct the typo in the filename k_anonymity_with_enitity_i…
  dlp/snippets/risk/k_anonymity_with_entity_id.go
Labels: automerge, api: dlp, samples

#3809 docs(samples): add Spanner statement timeout sample
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_set_statement_timeout.go
Labels: automerge, samples

#3804 fix(vertexai): visible sample values in comments
  vertexai/function-calling/functioncalling.go
Labels: samples

#3971 test(pubsub): make resource cleanup fire and forget
  pubsub/subscriptions/subscription_test.go
Labels: api: pubsub, samples

#3800 feat(pubsub): add create kinesis topic and update samples
  pubsub/go.mod
  pubsub/go.sum
  pubsub/topics/create_topic_kinesis_ingestion.go
  pubsub/topics/topics_test.go
  pubsub/topics/update_topic_type.go
Labels: automerge, api: pubsub, samples
