Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2024-12, with the labels that each got.

#4608 feat: update file reading to use os.ReadFile
  dlp/snippets/inspect/inspect_image_file.go
Labels: samples

#4671 chore(storage): delete sample storage_add_bucket_owner
  storage/acl/acl_test.go
  storage/acl/add_bucket_owner.go
Labels: api: storage, samples

#4670 chore: delete sample monitoring_opencensus_setup_exporter
  opencensus/go.mod
  opencensus/go.sum
  opencensus/metrics_quickstart/main.go
Labels: samples

#4657 chore(translate): delete sample translate_quickstart
  translate/translate_quickstart/main.go
Labels: api: translate, samples

#4594 feat(vertex/aiplatform): add code samples for embeddings
  go.work
  vertexai/embeddings/embeddings_test.go
  vertexai/embeddings/generate_for_image_and_text.go
  vertexai/embeddings/generate_for_image_text_and_video.go
  vertexai/embeddings/generate_for_video.go
  vertexai/embeddings/generate_with_lower_dimension.go
  vertexai/embeddings/go.mod
  vertexai/embeddings/go.sum
Labels: samples, api: aiplatform

#4605 fix: update practices from deprecated ioutil to io
  run/image-processing/main.go
Labels: samples

#4606 fix: update practices from deprecated ioutil to io
  appengine/go11x/tasks/handle_task/handle_task.go
Labels: samples

#4620 fix: update practices from deprecated ioutil to os
  dlp/snippets/inspect/inspect_image_all_infotypes.go
Labels: kokoro:force-run, samples

#4621 feat: clone consistency group sample
  compute/disks/consistency_group_clone.go
  compute/disks/disks_test.go
Labels: api: compute, samples

#4739 fix: update practices from deprecated ioutil to os
  speech/caption/caption.go
Labels: samples

#4743 fix(vertexai): typos and punctuation
  vertexai/embeddings/generate_for_image_and_text.go
  vertexai/embeddings/generate_for_image_text_and_video.go
  vertexai/embeddings/generate_for_video.go
  vertexai/embeddings/generate_with_lower_dimension.go
Labels: samples, api: aiplatform

#4738 fix: update practices from deprecated ioutil to os
  texttospeech/quickstart/quickstart.go
Labels: samples

#4737 fix: update practices from deprecated ioutil to os
  texttospeech/synthesize_text/synthesize_text.go
Labels: samples

#4736 fix: update practices from deprecated ioutil to os
  texttospeech/synthesize_file/synthesize_file.go
Labels: samples

#4731 fix: update practices from deprecated ioutil to io
  healthcare/dicomweb_instance_search.go
Labels: kokoro:force-run, samples

#4730 feat(opencensus)!: remove OpenCensus samples
  go.work
  opencensus/go.mod
  opencensus/go.sum
  opencensus/opencensus_spanner_quickstart/main.go
  opencensus/trace_exemplar.go
  opencensus/trace_exemplar_test.go
Labels: samples

#4729 fix: update practices from deprecated ioutil to io
  healthcare/dicomweb_study_search.go
Labels: kokoro:force-run, samples

#4757 fix(securitycenter): Fix the test failures with the SCC Mgt API ETD Custom Modules
  securitycenter/management_api/event_threat_detection/create_event_threat_detection_custom_module.go
  securitycenter/management_api/event_threat_detection/event_threat_detection_custom_module_test.go
Labels: api: securitycenter, samples

#4728 fix: update practices from deprecated ioutil to io
  healthcare/internal/fhir-resource-conditional-patch/fhir_resource_conditional_patch.go
Labels: samples

#4760 fix: update practices from deprecated ioutil to io
  functions/http/xml.go
Labels: samples

#4758 fix(eventarc): sets protojson to DiscardUnknown
  eventarc/storage_handler/handler.go
  eventarc/storage_handler/handler_test.go
  functions/functionsv2/firebase/hellofirestore/hellofirestore.go
  functions/functionsv2/firebase/upper/upper.go
  functions/functionsv2/imagemagick/imagemagick.go
  functions/functionsv2/ocr/app/process.go
Labels: samples, api: eventarc

#4762 chore(translate): delete sample translate_v3_translate_text_with_glos…
  translate/v3/translate_text_with_glossary_and_model.go
  translate/v3/translate_text_with_glossary_and_model_test.go
Labels: api: translate, samples

#4759 feat: snapshot schedule basic operations
  compute/snapshots/create_snapshot_schedule.go
  compute/snapshots/delete_snapshot_schedule.go
  compute/snapshots/edit_snapshot_schedule.go
  compute/snapshots/get_snapshot_schedule.go
  compute/snapshots/snapshots_test.go
Labels: api: compute, samples

#4644 feat: consistency group stop replication
  compute/disks/consistency_group_stop_replication.go
  compute/disks/disks_test.go
Labels: api: compute, samples

#4668 feat: force attach regional disk sample
  compute/disks/attach_regional_disk.go
Labels: api: compute, samples

#4669 feat: create replicated boot disk sample
  compute/instances/create-start-instance/create_instance_test.go
  compute/instances/create-start-instance/create_instance_with_replicated_boot_disk.go
Labels: api: compute, samples

#4704 chore(texttospeech): delete sample tts_synthesize_text_file
  texttospeech/synthesize_file/synthesize_file.go
  texttospeech/synthesize_file/synthesize_file_test.go
Labels: api: texttospeech, samples

#4722 feat: list disks within consistency group sample
  compute/disks/consistency_group_list.go
  compute/disks/disks_test.go
Labels: api: compute, samples

#4763 fix(securitycenter): Fix the test failures with SCC Mgt API SHA Custom Modules
  securitycenter/management_api/create_security_health_analytics_custom_module.go
  securitycenter/management_api/list_security_health_analytics_custom_module.go
  securitycenter/management_api/security_health_analytics_custom_module_test.go
Labels: api: securitycenter, samples

#4761 fix: update practices from deprecated ioutil to os
  dialogflow/detect_intent/detect_intent.go
Labels: type: cleanup, samples

#4742 fix: update practices from deprecated ioutil to os
  speech/snippets/multichannel.go
Labels: type: cleanup, samples

#4623 fix: update practices from deprecated ioutil to io
  functions/http/http_content_type.go
Labels: type: cleanup, samples

#4624 fix: update practices from deprecated ioutil to os
  functions/tips/file_system.go
Labels: type: cleanup, samples

#4626 fix: update practices from deprecated ioutil to io
  functions/functionsv2/hellostorage/hello_storage_test.go
Labels: type: cleanup, samples

#4628 fix(dlp): update practices from deprecated ioutil to io
  dlp/snippets/redact/redact_image_all_infotypes.go
Labels: type: cleanup, api: dlp, samples

#4648 fix: Replace ioutil with io in dataproc/submit_job.go for go 1.16 compatibility
  dataproc/submit_job.go
Labels: type: cleanup, samples

#4649 fix: update practices from deprecated ioutil to os
  dlp/snippets/inspect/inspect_text_file.go
Labels: type: cleanup, samples

#4650 fix: update practices from deprecated ioutil to os
  pubsub/schemas/commit_proto_schema.go
Labels: type: cleanup, samples

#4656 fix(pubsub): update practices from deprecated ioutil to io for commit_avro_schema.go
  pubsub/schemas/commit_avro_schema.go
Labels: type: cleanup, api: pubsub, samples

#4666 fix(endpoints): update practices from deprecated ioutil to os in main.go
  endpoints/getting-started/client/main.go
Labels: type: cleanup, samples, api: endpoints

#4811 chore(storage): delete sample storage_print_bucket_acl
  storage/acl/acl_test.go
  storage/acl/print_bucket_acl.go
Labels: type: cleanup, api: storage, samples

#4810 chore(texttospeech): delete sample tts_synthesize_text_file
  texttospeech/synthesize_file/synthesize_file.go
Labels: type: cleanup, api: texttospeech, samples

#4764 chore(acl): delete sample storage_print_bucket_acl_for_user
  storage/acl/acl_test.go
  storage/acl/print_bucket_acl_for_user.go
Labels: type: cleanup, samples

#4667 chore(functions): delete sample functions_golang_context
  functions/tips/contexttip/context_tip.go
  functions/tips/contexttip/context_tip_test.go
  functions/tips/contexttip/go.mod
  functions/tips/contexttip/go.sum
  go.work
Labels: type: cleanup, api: cloudfunctions, samples

#4790 feat(spanner): add samples for using multi-region encryption keys for backups and database
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_copy_backup_with_mr_cmek.go
  spanner/spanner_snippets/spanner/spanner_create_backup_with_multi_region_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_create_database_with_multi_region_encryption_key.go
  spanner/spanner_snippets/spanner/spanner_restore_backup_with_multi_region_encryption_key.go
Labels: api: spanner, samples

#4807 feat: attach/remove snapshot schedule for a disk
  compute/snapshots/attach_disk_snapshot_schedule.go
  compute/snapshots/remove_disk_snapshot_schedule.go
  compute/snapshots/snapshots_test.go
Labels: api: compute, samples

#4808 feat: filtering list of snapshot schedules sample
  compute/snapshots/list_snapshot_schedules.go
  compute/snapshots/snapshots_test.go
Labels: api: compute, samples

#4809 feat: create disk with snapshot schedule sample
  compute/disks/create_disk_with_snapshot_schedule.go
  compute/disks/disks_test.go
Labels: api: compute, samples

#4686 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_get_everything.go
Labels: type: cleanup, api: healthcare, samples

#4828 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#4770 chore: update practices from deprecated ioutil to os
  videointelligence/annotate/object_tracking.go
Labels: type: cleanup, samples

#4769 chore: update practices from deprecated ioutil to os
  videointelligence/annotate/text_detection.go
Labels: type: cleanup, samples

#4727 fix(storage): update practices from deprecated ioutil to io in download_file_into_memory.go
  storage/objects/download_file_into_memory.go
Labels: type: cleanup, api: storage, samples

#4726 fix(speech): update practices from deprecated ioutil to os in model_selection.go
  speech/snippets/model_selection.go
Labels: type: cleanup, api: speech, samples

#4725 fix: update practices from deprecated ioutil to os
  storage/objects/download_encrypted_file.go
Labels: type: cleanup, samples

#4724 fix: update practices from deprecated ioutil to os
  pubsub/schemas/publish_avro_records.go
Labels: type: cleanup, samples

#4723 fix: update practices from deprecated ioutil to os
  pubsub/schemas/subscribe_avro_records.go
Labels: type: cleanup, samples

#4703 fix: update practices from deprecated ioutil to io
  healthcare/internal/fhir-resource-conditional-update/fhir_resource_conditional_update.go
Labels: type: cleanup, samples

#4702 fix: update practices from deprecated ioutil to io
  healthcare/hl7v2_message_create.go
Labels: type: cleanup, samples

#4700 fix: update practices from deprecated ioutil to os
  speech/captionasync/captionasync.go
Labels: type: cleanup, samples

#4701 fix: update practices from deprecated ioutil to io
  healthcare/fhir_resource_create.go
Labels: type: cleanup, samples

#4699 fix: update practices from deprecated ioutil to os
  speech/snippets/enhanced_model.go
Labels: type: cleanup, samples

#4696 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_update.go
Labels: type: cleanup, api: healthcare, samples

#4695 chore(healthcare): update practices from deprecated ioutil to os
  healthcare/hl7v2_message_patch.go
Labels: type: cleanup, api: healthcare, samples

#4847 chore: Update blunderbuss.yml
  .github/blunderbuss.yml
Labels: samples

#4693 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_patch.go
Labels: type: cleanup, api: healthcare, samples

#4692 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_search_get.go
Labels: type: cleanup, api: healthcare, samples

#4691 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_search_post.go
Labels: type: cleanup, api: healthcare, samples

#4690 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_history_list.go
Labels: type: cleanup, api: healthcare, samples

#4689 chore(healthcare): update practices from deprecated ioutil to os
  healthcare/hl7v2_message_ingest.go
Labels: type: cleanup, api: healthcare, samples

#4688 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_history_get.go
Labels: type: cleanup, api: healthcare, samples

#4685 fix: update practices from deprecated ioutil to io
  healthcare/fhir_metadata_get.go
Labels: type: cleanup, samples

#4687 chore(healthcare): update practices from deprecated ioutil to io
  healthcare/fhir_resource_get.go
Labels: type: cleanup, api: healthcare, samples

#4860 test(firestore): Cleanup before creating new docs
  firestore/main_test.go
  firestore/query_multiple_inequality_test.go
Labels: api: firestore, samples

#4872 feat: batch create with custom network sample
  batch/create_with_custom_network.go
  batch/create_with_custom_network_test.go
Labels: samples, api: batch

#4873 feat: create batch with nfs sample
  batch/create_with_nfs.go
  batch/create_with_nfs_test.go
Labels: samples, api: batch

#4874 feat: create batch with custom runnable labels sample
  batch/create_with_labels_runnable.go
  batch/create_with_labels_runnable_test.go
Labels: samples, api: batch

#4880 feat: create batch with custom labels for policy sample
  batch/create_with_allocation_policy_labels.go
  batch/create_with_allocation_policy_labels_test.go
Labels: samples, api: batch

#4895 docs(iam): Update quickstart.go comments
  iam/quickstart/quickstart.go
Labels: api: iam, samples

#4899 chore: add translate dev team for translate samples
  .github/CODEOWNERS
Labels: samples

#4913 fix(speech): migrate imports region from file model_selection.go step 1
  speech/snippets/model_selection.go
Labels: api: speech, samples

#4903 fix: wrong tag correction
  compute/instances/create-start-instance/create_instance_with_replicated_boot_disk.go
Labels: api: compute, samples
