Repository GoogleCloudPlatform/golang-samples, pull requests merged in 2024-10, with the labels that each got.

#4413 feat: gemini translate sample
  vertexai/snippets/gemini_translate.go
  vertexai/snippets/gemini_translate_test.go
  vertexai/snippets/go.mod
Labels: samples

#4412 feat: regional template operations samples
  compute/instance-templates/create-instance-templates/create_instance_templates_test.go
  compute/instance-templates/create-instance-templates/create_regional_template.go
  compute/instance-templates/create-instance-templates/delete_regional_template.go
  compute/instance-templates/create-instance-templates/get_regional_template.go
Labels: samples

#4418 fix: update sample acceptance policy
  README.md
Labels: samples

#4417 feat: batch predict code and text generation
  vertexai/batch-predict/batch_code_predict.go
  vertexai/batch-predict/batch_predict_test.go
  vertexai/batch-predict/batch_text_predict.go
  vertexai/batch-predict/go.mod
  vertexai/batch-predict/go.sum
Labels: samples

#4420 chore(oss): correct apache license headers
  endpoints/getting-started-grpc/client/main.go
  endpoints/getting-started-grpc/helloworld/helloworld.proto
  endpoints/getting-started-grpc/server/main.go
  testing/kokoro/pull-secrets.sh
  testing/kokoro/store-secrets.sh
Labels: samples

#4425 fix: added defer client.Close() to Vertex samples
  vertexai/batch-predict/batch_code_predict.go
  vertexai/batch-predict/batch_text_predict.go
  vertexai/snippets/gemini_translate.go
Labels: samples, api: vertex-ai

#4416 feat: Batch Text Embeddings Sample
  aiplatform/snippets/embedding_batch_predict.go
  aiplatform/snippets/embedding_batch_predict_test.go
Labels: samples

#4429 docs(firestore): Correcting the region tags
  firestore/vector_search_basic.go
  firestore/vector_search_distance_threshold.go
  firestore/vector_search_prefilter.go
  firestore/vector_search_result_field_masked.go
Labels: api: firestore, samples

#4428 feat(pubsub): add cloud storage ingestion topic
  pubsub/go.mod
  pubsub/go.sum
  pubsub/topics/create_topic_gcs_ingestion.go
  pubsub/topics/topics_test.go
Labels: api: pubsub, samples

#4378 feat: create shared reservation
  compute/go.mod
  compute/reservations/create_shared_reservation.go
  compute/reservations/mock_shared_project.go
  compute/reservations/reservations_test.go
Labels: api: compute, samples

#4424 feat: not consume reservation samples
  compute/reservations/create_instance_not_consume_reservation.go
  compute/reservations/create_template_not_consume_reservation.go
  compute/reservations/reservations_test.go
Labels: api: compute, samples

#4419 feat(securitycenter): add sample for creating v2 clients with regional and default endpoints
  securitycenter/clientv2/client_test.go
  securitycenter/clientv2/create_client_with_endpoint.go
Labels: api: securitycenter, samples

#4382 feat: create batch using secret manager
  batch/create_with_secret_manager.go
  batch/create_with_secret_manager_test.go
Labels: api: secretmanager, samples

#4437 feat(securitycenter): Add Resource SCC Management API Org SHA Custom Module samples (Create, Get, List, Update)
  securitycenter/go.mod
  securitycenter/go.sum
  securitycenter/management_api/create_security_health_analytics_custom_module.go
  securitycenter/management_api/get_security_health_analytics_custom_module.go
  securitycenter/management_api/list_security_health_analytics_custom_module.go
  securitycenter/management_api/security_health_analytics_custom_module_test.go
  securitycenter/management_api/update_security_health_analytics_custom_module.go
Labels: api: securitycenter, samples

#4431 feat: add samples for labels, regional SM
  secretmanager/regional_samples/create_regional_secret_with_labels.go
  secretmanager/regional_samples/delete_regional_secret_label.go
  secretmanager/regional_samples/edit_regional_secret_label.go
  secretmanager/regional_samples/regional_secretmanager_test.go
  secretmanager/regional_samples/view_regional_secret_labels.go
  secretmanager/secretmanager_test.go
Labels: api: secretmanager, samples

#4432 feat: added annotations samples for SM
  secretmanager/create_secret_with_annotations.go
  secretmanager/edit_secret_annotations.go
  secretmanager/regional_samples/create_regional_secret_with_annotations.go
  secretmanager/regional_samples/edit_regional_secret_annotations.go
  secretmanager/regional_samples/regional_secretmanager_test.go
  secretmanager/regional_samples/view_regional_secret_annotations.go
  secretmanager/secretmanager_test.go
  secretmanager/view_secret_annotations.go
Labels: api: secretmanager, samples

#4441 feat: consume specific shared reservation sample
  compute/reservations/consume_specific_shared_reservation.go
  compute/reservations/mock_shared_project.go
  compute/reservations/reservations_test.go
Labels: api: compute, samples

#4438 feat(storage): add gRPC quickstart sample
  storage/go.mod
  storage/go.sum
  storage/grpc_quickstart/main.go
Labels: api: storage, samples

#4392 chore: update min version to 1.21
  testing/kokoro/earliest-version.cfg
Labels: samples

#4260 feat(gimmeproj): improve version information using embedded build data
  testing/gimmeproj/main.go
Labels: samples

#4447 feat: Getting embeddings using text-embedding-005.
  aiplatform/snippets/embeddings.go
  aiplatform/snippets/embeddings_preview.go
Labels: samples

#4442 feat(securitycenter): Add Resource SCC Management API Org SHA Custom Module samples (Delete, Get Eff, List Eff, List Desc, Simulate)
  securitycenter/management_api/delete_security_health_analytics_custom_module.go
  securitycenter/management_api/get_effective_security_health_analytics_custom_module.go
  securitycenter/management_api/list_descendant_security_health_analytics_custom_module.go
  securitycenter/management_api/list_effective_security_health_analytics_custom_module.go
  securitycenter/management_api/security_health_analytics_custom_module_test.go
  securitycenter/management_api/simulate_security_health_analytics_custom_module.go
Labels: api: securitycenter, samples

#4455 fix(spanner): add Edition to created databases.
  spanner/spanner_snippets/spanner/integration_test.go
  spanner/spanner_snippets/spanner/spanner_create_instance_with_autoscaling_config.go
  spanner/spanner_snippets/spanner/spanner_create_instance_with_processing_units.go
Labels: api: spanner, samples

#4454 fix: skip dataproc tests for #4330
  dataproc/dataproc_test.go
  dataproc/quickstart/quickstart_test.go
Labels: samples

#4453 feat: AR migration for kokoro, pt 1
  testing/docker/cloudbuild.yaml
  testing/kokoro/latest-version.cfg
  testing/kokoro/trampoline.sh
Labels: samples

#4407 feat: consume reservation samples
  compute/reservations/consume_any_reservation.go
  compute/reservations/consume_specific_reservation.go
  compute/reservations/reservations_test.go
Labels: api: compute, samples

#4450 feat(gen ai): add sample for context cache 'list' method
  vertexai/context-caching/contextcaching_list.go
  vertexai/context-caching/contextcaching_test.go
  vertexai/context-caching/go.mod
Labels: samples, api: vertex-ai
